/* Variable colors
----------------------------------------------------------------------------------------------------*/

/* DEFAULT THEME
----------------------------------------------------------------------------------------------------*/


.i-default .b-header {
	background: #387ba2;
	background: -moz-linear-gradient(top,  #387ba2 0%, #156085 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#387ba2), color-stop(100%,#156085));
	background: -webkit-linear-gradient(top,  #387ba2 0%,#156085 100%);
	background: -o-linear-gradient(top,  #387ba2 0%,#156085 100%);
	background: -ms-linear-gradient(top,  #387ba2 0%,#156085 100%);
	background: linear-gradient(to bottom,  #387ba2 0%,#156085 100%);
}
.i-default .b-navigation {
	background: #1b658a;
}

.i-default .b-object__about a:hover,
.i-default .jcarousel__item .title .map-link,
.i-default .f-clear,
.i-default .b-layers__letter,
.i-default h1 a {
	color: #b94450;
}
.i-default .jcarousel__item .title .map-link,
.i-default .f-clear {
	border-bottom: 1px dashed #b94450;
}

.i-default .b-layers__layer span:hover {
	color: #b94450;
	border-bottom: 1px dashed #b94450;	
}

.i-default .b-page-heading__link a {
	color: #b94450;
	background: url('../img/icons/icon-back-red.png') no-repeat 0 0;
}



/* Default elements
----------------------------------------------------------------------------------------------------*/
.i-default .f-button {
	background: #bf4855; /* Old browsers */
	background: -moz-linear-gradient(top,  #bf4855 0%, #942833 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf4855), color-stop(100%,#942833)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bf4855 0%,#942833 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bf4855 0%,#942833 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bf4855 0%,#942833 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bf4855 0%,#942833 100%); /* W3C */

	text-shadow: 0 1px 1px #7e1621;
}
	.i-default .f-button:hover {
		background: #be4754;
	}
	
	.i-default .f-button:disabled {
		background: #808080;
	}

	/* Button "Login" */
	.i-default .f-button_type_login {
		padding: 7px 15px 7px 28px;
		background: url('../img/elements/buttons/button-icon-login.png') no-repeat 10px 9px, -moz-linear-gradient(top,  #bf4855 0%, #942833 100%); /* FF3.6+ */
		background: url('../img/elements/buttons/button-icon-login.png') no-repeat 10px 9px,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf4855), color-stop(100%,#942833)); /* Chrome,Safari4+ */
		background: url('../img/elements/buttons/button-icon-login.png') no-repeat 10px 9px,-webkit-linear-gradient(top,  #bf4855 0%,#942833 100%); /* Chrome10+,Safari5.1+ */
		background: url('../img/elements/buttons/button-icon-login.png') no-repeat 10px 9px,-o-linear-gradient(top,  #bf4855 0%,#942833 100%); /* Opera 11.10+ */
		background: url('../img/elements/buttons/button-icon-login.png') no-repeat 10px 9px,-ms-linear-gradient(top,  #bf4855 0%,#942833 100%); /* IE10+ */
		background: url('../img/elements/buttons/button-icon-login.png') no-repeat 10px 9px, linear-gradient(to bottom,  #bf4855 0%,#942833 100%); /* W3C */
		background-repeat: no-repeat;
	}
		.i-default .f-button_type_login:hover {
			background: #be4754 url('../img/elements/buttons/button-icon-login.png') no-repeat 10px 9px;
		}
		.i-default .f-button_type_login:active {
			padding: 8px 15px 6px 28px;
		}

	/* Button "Add" */
	.i-default .f-button_type_add {
		padding: 7px 12px 7px 18px;
		background: url('../img/elements/buttons/button-icon-add.png') no-repeat 10px 9px, -moz-linear-gradient(top,  #bf4855 0%, #942833 100%); /* FF3.6+ */
		background: url('../img/elements/buttons/button-icon-add.png') no-repeat 10px 9px,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf4855), color-stop(100%,#942833)); /* Chrome,Safari4+ */
		background: url('../img/elements/buttons/button-icon-add.png') no-repeat 10px 9px,-webkit-linear-gradient(top,  #bf4855 0%,#942833 100%); /* Chrome10+,Safari5.1+ */
		background: url('../img/elements/buttons/button-icon-add.png') no-repeat 10px 9px,-o-linear-gradient(top,  #bf4855 0%,#942833 100%); /* Opera 11.10+ */
		background: url('../img/elements/buttons/button-icon-add.png') no-repeat 10px 9px,-ms-linear-gradient(top,  #bf4855 0%,#942833 100%); /* IE10+ */
		background: url('../img/elements/buttons/button-icon-add.png') no-repeat 10px 9px, linear-gradient(to bottom,  #bf4855 0%,#942833 100%); /* W3C */
		background-repeat: no-repeat;
	}
		.i-default .f-button_type_add:hover {
			background: #be4754 url('../img/elements/buttons/button-icon-add.png') no-repeat 10px 9px;
		}
		.i-default .f-button_type_add:active {
			padding: 8px 12px 6px 18px;
		}

	/* Button "Remove" */
	.i-default .f-button_type_remove {
		padding: 7px 12px 7px 18px;
		background: url('../img/elements/buttons/button-icon-remove.png') no-repeat 10px 9px, -moz-linear-gradient(top,  #bf4855 0%, #942833 100%); /* FF3.6+ */
		background: url('../img/elements/buttons/button-icon-remove.png') no-repeat 10px 9px,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf4855), color-stop(100%,#942833)); /* Chrome,Safari4+ */
		background: url('../img/elements/buttons/button-icon-remove.png') no-repeat 10px 9px,-webkit-linear-gradient(top,  #bf4855 0%,#942833 100%); /* Chrome10+,Safari5.1+ */
		background: url('../img/elements/buttons/button-icon-remove.png') no-repeat 10px 9px,-o-linear-gradient(top,  #bf4855 0%,#942833 100%); /* Opera 11.10+ */
		background: url('../img/elements/buttons/button-icon-remove.png') no-repeat 10px 9px,-ms-linear-gradient(top,  #bf4855 0%,#942833 100%); /* IE10+ */
		background: url('../img/elements/buttons/button-icon-remove.png') no-repeat 10px 9px, linear-gradient(to bottom,  #bf4855 0%,#942833 100%); /* W3C */
		background-repeat: no-repeat;
	}
		.i-default .f-button_type_remove:hover {
			background: #be4754 url('../img/elements/buttons/button-icon-remove.png') no-repeat 10px 9px;
		}
		.i-default .f-button_type_remove:active {
			padding: 8px 12px 6px 18px;
		}
		
.i-default .f-button_gray {
	background: #c9d1d5;
	background: -moz-linear-gradient(top,  #c9d1d5 0%, #677d89 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9d1d5), color-stop(100%,#677d89));
	background: -webkit-linear-gradient(top,  #c9d1d5 0%,#677d89 100%);
	background: -o-linear-gradient(top,  #c9d1d5 0%,#677d89 100%);
	background: -ms-linear-gradient(top,  #c9d1d5 0%,#677d89 100%);
	background: linear-gradient(to bottom,  #c9d1d5 0%,#677d89 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9d1d5', endColorstr='#677d89',GradientType=0 );

	text-shadow: 0 1px 1px #556066;
	color: #fff;
}
	.i-default .f-button_gray:hover {
		background: #778a95;
	}