/* Common styles
----------------------------------------------------------------------------------------------------*/
html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
body {
	font: 0.875em/1.385 Arial,Helvetica,sans-serif;
	color: #525252;
}

a {
	color: #1c658a;
}
	a:hover {
		color: #b94450;
	}


div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Main page layout
----------------------------------------------------------------------------------------------------*/
.l-page-wrapper {
	position: relative;
	text-align: center;
	min-height: 100%;
}
	.l-page {
		min-width: 1180px;
		max-width: 1600px;

		margin: auto;

		text-align: left;
	}

/* Cols
----------------------------------------------------------------------------------------------------*/
.l-cols {
	overflow: hidden;
}
	.l-cols .l-col-3 {
		width: 33%;
		float: left;
	}
	.l-cols .l-col-content {
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 250px 0 0;

	}

	.l-cols .l-col-sidebar {
		position: absolute;
		top: 0;
		right: 0;
		width: 215px;
	}

.l-two-cols {
	overflow: hidden;
}
	.l-two-cols__l {
		width: 49%;
		float: left;
		background: none;
	}
	.l-two-cols__r {
		width: 49%;
		float: right;
		background: none;
	}
		
		.b-content .l-two-cols__r .b-menu_pagination,
		.b-content .l-two-cols__l .b-menu_mini-tabs {
			margin: 30px 0 20px 0;
			padding: 0;
			overflow: hidden;
			background: none;
		}
		.b-content .l-two-cols__r .b-menu_pagination {
			float: right;
		}


/* Content block
----------------------------------------------------------------------------------------------------*/
.b-content {
	z-index: 20;
	position: relative;
	padding: 0 120px 80px;
	margin-bottom: 80px;
}
	.b-content__intro-text {
		margin: 2.0em 0 0 0;
		font-size: 1em;
		color: #525252;
	}
	.b-content h2 {
		margin: 20px 0 0;
	}
	.b-content .b-menu_pagination {
		padding: 10px 0 30px;
		overflow: hidden;
		background: url('../img/patterns/wavy-line.png') repeat-x 0 bottom;
	}
	.b-content .b-menu_pagination.bottom {
		padding: 30px 0;
		overflow: hidden;
		background: url('../img/patterns/wavy-line.png') repeat-x 0 0;
	}


/* Content block / Group page
----------------------------------------------------------------------------------------------------*/
.b-content_page_group {
	padding: 0 0 50px;
}
	.b-content_page_group div {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.b-content_page_group .l-cols {
		width: 100%;
	}
		.b-content_page_group .l-cols .l-col-content {
			position: relative;
			width: 72.5%;
			padding: 0;
			float: left;
		}
			.b-content_page_group .l-cols .l-col-content .b-text-page {
				margin: 0 0px 0 120px;
				padding: 30px 0 20px;
				border-bottom: 1px solid #dbe0e5;
			}

		.b-content_page_group .l-cols .l-col-sidebar {
			position: relative;
			width: 27.5%;
			padding: 0 120px 0 40px;
			float: left;
		}
			.b-content_page_group .l-cols .l-col-sidebar h3 {
				margin: 25px 0 0;
				font: 25px/30px 'Georgia';
				color: #323232;
			}

.b-content_page_group .b-list {
	padding: 15px 0;
	border-bottom: 1px solid #dbe0e5;
}
	.b-content_page_group .b-list__item {
		padding: 5px 0 5px 35px;
		background: url('../img/elements/ul-item.png') no-repeat 16px 9px;
		font: 15px/18px Arial,sans-serif;
		color: #525252;
	}
		.b-content_page_group .b-list__item a {
			font-weight: bold;
		}
		.b-content_page_group .b-list__item .small {
			font-size: 13px;
			font-style: italic;
		}
	.b-content_page_group .b-list_cross-links .b-list__item {
		padding: 5px 0;
	}
		.b-content_page_group .b-list_cross-links .b-list__item a {
			font-weight: normal;
		}

.b-content_page_group .b-menu__item .b-menu__text,
.b-content_page_group .b-menu__item .f-select {
	margin: 0 8px 0 0;
	float: left;
}
	.b-content_page_group .b-menu__item .f-select {
		width: 310px;
		font: 14px/20px Arial,sans-serif;
	}
		.b-content_page_group .b-menu__item .f-select__current {
			background: #fff url('../img/elements/f-select-3.png') no-repeat top right;
			border-color: #a8b0b8;
		}
.b-content_page_group .b-tabs-menu {
	z-index: 20;
}
.b-content_page_group .b-tabs-menu .b-menu .b-menu__item.state-active:after {
	bottom: -25px;
	width: 31px;
	height: 16px;
	background: url('../img/elements/menu-active-white-2.png') no-repeat 0 0;
}
.b-content_page_group .b-tabs-menu .b-menu .b-menu__item.b-menu__item-layer {
	border-bottom: 0;
}
	.b-content_page_group .b-tabs-menu .b-menu .b-menu__item.b-menu__item-layer.state-active:after {
		left: 100px;
	}

.b-content_page_group .b-content_page_user {
	z-index: 5;
	position: relative;
	padding-right: 0;
}

	.b-content_page_group .b-user-layer_view_short .b-user-layer__title {
		padding-left: 0;
		padding-right: 20px;
		font: bold 16px/20px Arial,sans-serif;
	}
	.b-content_page_group .b-user-layer_view_short .b-user-layer__properties {
		padding-left: 0;
	}
.b-content_page_group .b-content_page_user .b-menu_pagination {
	margin-bottom: 0;
}


/* Content block / Layer page
----------------------------------------------------------------------------------------------------*/
.b-content_page_layer {
	padding: 0 0 100px;
}
	.b-content_page_layer div {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.b-content_page_layer .l-cols {
		width: 100%;
	}
		.b-content_page_layer .l-cols .l-col-content {
			position: relative;
			width: 72.5%;
			padding: 0;
			float: left;
		}
			.b-content_page_layer .l-cols .l-col-content .b-text-page {
				margin: 0 0px 0 120px;
				padding: 30px 0 20px;
				border-bottom: 1px solid #dbe0e5;
			}

		.b-content_page_layer .l-cols .l-col-sidebar {
			position: relative;
			width: 27.5%;
			padding: 0 120px 0 40px;
			float: left;
		}
			.b-content_page_layer .l-cols .l-col-sidebar h3 {
				margin: 25px 0 0;
				font: 25px/30px 'Georgia';
				color: #323232;
			}
.b-content_page_layer .b-list {
	margin: 10px 0;
}
	.b-content_page_layer .b-list__item {
		padding: 5px 5px 5px 34px;
		background: url('../img/elements/checkbox-null.png') no-repeat 15px 9px;
	}
		.b-content_page_layer .b-list__item.state-active {
			font-weight: bold;
			background: url('../img/elements/checkbox.png') no-repeat 15px 9px;
		}
.b-content_page_layer .b-objects_list {
	padding-left: 120px;
	margin-bottom: 20px;
}
	.b-content_page_layer .b-objects_list h2 {
		margin-bottom: 20px;
	}
.b-content_page_layer .all {
	margin: 0 120px;
}


/* Header
----------------------------------------------------------------------------------------------------*/
.b-header {
	z-index: 50;
	position: relative;
	height: 80px;
	padding: 0 120px;

}
	.b-header .b-logo_header,
	.b-header .b-search_header {
		float: left;
	}
	.b-header .b-user_header {
		float: right;
	}

/* Logo
----------------------------------------------------------------------------------------------------*/
.b-logo_header {
	width: 366px;
	height: 50px;

	margin-top: 10px;
	margin-right: 40px;
}

/* Search
----------------------------------------------------------------------------------------------------*/
.b-search_header {
	width: 436px;
	height: 30px;

	margin-top: 22px;
}
	.b-search_header .f-input-search {
		width: 436px;
		height: 30px;

		padding-left: 7px;
		padding-right: 20px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);

		border: 1px solid #323232;
		border-radius: 2px;

		font: 1em Arial,sans-serif;
	}


/* User
----------------------------------------------------------------------------------------------------*/
.b-user { }
	.b-user .f-button-login {
		width: 85px;
		height: 31px;

		border: 0;
		background: transparent url('../img/elements/buttons/button-login.png') 0 0 no-repeat;

		text-indent: -1000px;
		cursor: pointer;
	}
.b-user_header {
	margin-top: 22px;
}


.b-user .b-menu {
	margin: 0;
	padding: 0;
}
	.b-user .b-menu__item {
		margin: 0;
		padding: 0 10px;
		border-right: 1px dotted #7d9dae;
	}
		.b-user .b-menu__item:last-child {
			padding-right: 0;
			border: 0;
		}
		.b-user .b-menu__link {
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid #6496b1;
		}
			.b-user .b-menu__link.g-dotted {
				border-bottom-style: dashed;
			}


/* Navigation section
----------------------------------------------------------------------------------------------------*/
.b-navigation {
	z-index: 50;
	position: relative;
	height: 54px;
	padding: 0 120px;

	border-top: 1px solid #4a85a4;
}

/* Navigations, menus etc.
----------------------------------------------------------------------------------------------------*/

/* Main menu
----------------------------------------------------------------------------------------------------*/
.b-menu_main {
	margin-top: 15px;
	float: left;
}
.b-menu_main .b-menu__item {
	position: relative;
	margin: 0 46px 0 0;
	float: left;
}
.b-menu_main .b-menu__item:after {
	content: '';
	position: absolute;
	top: 8px;
	right: -26px;

	width: 5px;
	height: 5px;

	background-image: url('../img/elements/menu-divider.png');
}
.b-menu_main .b-menu__item.i-last:after {
	display: none;
}

	.b-menu_main .b-menu__link {
		color: #fff;
	}

	.b-menu_main .b-menu__item.i-home .b-menu__link {
		display: block;
		width: 21px;
		height: 19px;

		background: transparent url('../img/icons/icon-menu-home.png') 0 0 no-repeat;
	}
	.b-menu_main .b-menu__item.state-active:before {
		content: '';
		position: absolute;
		bottom: -20px;
		left: 50%;

		width: 14px;
		height: 7px;

		margin-left: -7px;
		
		background: url('../img/elements/menu-active.png') 0 0 no-repeat;
	}

/* Pagination menu
----------------------------------------------------------------------------------------------------*/
.b-menu_pagination .b-menu__item {
	margin: 0 3px 0 0;
	font-size: .7em; /* 10px */
}
	.b-menu_pagination .b-menu__link {
		display: inline-block;
		padding: 3px 6px;
		text-align: center;
	}
.b-menu_pagination .b-menu__item.state-active,
.b-menu_pagination .b-menu__item.state-next,
.b-menu_pagination .b-menu__item.state-prev {
	background: #637986;
	background: -moz-linear-gradient(top,  #637986 0%, #b6c0c6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#637986), color-stop(100%,#b6c0c6));
	background: -webkit-linear-gradient(top,  #637986 0%,#b6c0c6 100%);
	background: -o-linear-gradient(top,  #637986 0%,#b6c0c6 100%);
	background: -ms-linear-gradient(top,  #637986 0%,#b6c0c6 100%);
	background: linear-gradient(to bottom,  #637986 0%,#b6c0c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#637986', endColorstr='#b6c0c6',GradientType=0 );
	border-radius: 10px;
}
	.b-menu_pagination .b-menu__item.state-active .b-menu__link,
	.b-menu_pagination .b-menu__item.state-next .b-menu__link,
	.b-menu_pagination .b-menu__item.state-prev .b-menu__link
	 {
		color: #fff;
		text-decoration: none;
	}

.b-menu_pagination .b-menu__item.state-text {
	padding: 3px 4px;
	font-size: 12px;
	font-size: .85em; /* 12px */
}


/* Mini tabs menu
----------------------------------------------------------------------------------------------------*/
.b-menu_mini-tabs .b-menu__item {
	margin: 0 3px 0 0;
	font-size: .7em; /* 10px */
}
	.b-menu_mini-tabs .b-menu__link {
		display: inline-block;
		padding: 3px 6px;
		text-align: center;
	}
.b-menu_mini-tabs .b-menu__item.state-active,
.b-menu_mini-tabs .b-menu__item.state-next,
.b-menu_mini-tabs .b-menu__item.state-prev {
	background: #637986;
	background: -moz-linear-gradient(top,  #637986 0%, #b6c0c6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#637986), color-stop(100%,#b6c0c6));
	background: -webkit-linear-gradient(top,  #637986 0%,#b6c0c6 100%);
	background: -o-linear-gradient(top,  #637986 0%,#b6c0c6 100%);
	background: -ms-linear-gradient(top,  #637986 0%,#b6c0c6 100%);
	background: linear-gradient(to bottom,  #637986 0%,#b6c0c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#637986', endColorstr='#b6c0c6',GradientType=0 );
	border-radius: 10px;
}
	.b-menu_mini-tabs .b-menu__item.state-active .b-menu__link,
	.b-menu_mini-tabs .b-menu__item.state-next .b-menu__link,
	.b-menu_mini-tabs .b-menu__item.state-prev .b-menu__link
	 {
		color: #fff;
		text-decoration: none;
	}

.b-menu_mini-tabs .b-menu__item.state-text {
	padding: 3px 4px;
	font-size: 12px;
	font-size: .85em; /* 12px */
}

/* Project selector
----------------------------------------------------------------------------------------------------*/
.b-projects-selector {
	z-index: 20;
	position: relative;
	margin-top: 10px;
	float: right;
}
	.b-projects-selector__label {
		margin-top: 5px;
		margin-right: 8px;
		float: left;
		color: #fff;
	}
	.b-projects-selector__selectbox {
		width: 308px;
		float: left;
	}
		.b-projects-selector__selectbox select {
			width: 308px;
			height: 30px;
		}


.b-tabs-menu .b-menu .b-menu__item.b-menu__item-project {
	margin-left: -20px;
	border-bottom: 0;
}
.b-menu__item-project .b-menu__link {
	display: block;
	float: left;
}
.b-projects-selector_position_menu {
	margin-top: 0;
	margin-left: 10px;
	float: left;

	font-size: 14px;
	font-family: 'Arial';
}
	.b-projects-selector_position_menu .f-select__current {
		padding-top: 5px;
	}

/* Projects carousel
----------------------------------------------------------------------------------------------------*/
.b-projects-carousel {
	z-index: 30;
	position: relative;

	height: 320px;
	padding: 58px 120px 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: #f9eacc url('../img/patterns/header-bottom-border.png') repeat-x 0 bottom; /* TODO */

}
	.b-projects-carousel__area {
		position: relative;
		overflow: visible;
	}
	.b-projects-carousel__area .shadow {
		height: 224px;
		margin: 0 385px;
		background: url('../img/patterns/projects-carousel-shadow.png') repeat-x 0 0;
	}
		.b-projects-carousel__area .shadow:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 385px;
			height: 224px;
			background: url('../img/patterns/projects-carousel-shadow-left.png') repeat-x 0 0;
		}
		.b-projects-carousel__area .shadow:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 385px;
			height: 224px;
			background: url('../img/patterns/projects-carousel-shadow-right.png') repeat-x 0 0;
		}
	.b-projects-carousel__area .jcarousel-wrapper {
		position: absolute;
		top: 20px;
		left: 0;

		width: 100%;
		min-width: 960px;
		/*padding: 0 8.33%; /* 80px / 960px */
		padding: 0 10%;
		height: 162px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		background: #fff;

		border-radius: 8px;
	}


/* Projects carousel items (jcarousel)
----------------------------------------------------------------------------------------------------*/
.jcarousel-inner {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.jcarousel {
	position: relative;
	width: 1150px;
	height: 162px;
	margin: 0 auto;	
}
.jcarousel__items {
	position: absolute;
	width: 20000em;
}
	.jcarousel__item {
		position: relative;

		width: 170px;
		height: 125px;
		padding: 0 55px;
		margin: 15px 0 0 0;
		float: left;

		border-left: 1px solid #ece9e3;
		text-align: center;
	}
		.jcarousel__item:first-child {
			border-left: 0;
		}
		.jcarousel__item .img {
			z-index: 5;
			position: relative;
			display: inline-block;
		}
		.jcarousel__item .title {
			z-index: 10;
			position: relative;
		}
			.jcarousel__item .title .map-link {
				cursor: pointer;
			}
		.jcarousel__item .content {
			display: none;

			z-index: 2;
			position: absolute;
			top: 0;
			left: 50%;

			width: 280px;
			height: auto;

			margin-left: -140px;
			padding: 150px 15px 0;

			opacity: 0;

			background: #fff;
			border-radius: 4px;

			border: 1px solid #cacaca;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
			-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
			box-shadow: 0 2px 3px rgba(0,0,0,0.3);
			text-align: left;
		}
			.jcarousel__item .content .close {
				position: absolute;
				top: 10px;
				right: 10px;
				display: block;
				width: 22px;
				height: 22px;
				background: url('../img/icons/icon-close.png') no-repeat 0 0;
				cursor: pointer;
			}
			.jcarousel__item .content p.info {
				padding: 20px 0;
				
				border: 1px dotted #d4d4d4;
				border-width: 1px 0;

				font-size: 12px;
				color: #323232;
			}
			.jcarousel__item .content p.map {
				padding: 20px 0;

				font-size: 14px;
				font-weight: bold;
			}
				.jcarousel__item .content p.map a {
					color: #2f749b;
					text-decoration: underline;
				}
			
.jcarousel__controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
	.jcarousel__controls a {
		position: absolute;
		top: 60px;

		display: block;
		width: 31px;
		height: 31px;
		overflow: hidden;

		background: transparent url('../img/elements/jcarousel-arrows.png') 0 0 no-repeat;

		text-indent: -2000px;

		cursor: pointer;
	}
		.jcarousel__controls a.jcarousel-prev {
			left: 3%;
		}
		.jcarousel__controls a.jcarousel-next {
			right: 3%;
			background-position: -31px 0;
		}
.jcarousel-pagination {
	position: absolute;
	left: 50%;
	bottom: -60px;
	width: 400px;
	margin-left: -200px;
	margin-top: 20px;
	text-align: center;
}
	.jcarousel-pagination a {
		display: inline-block;
		width: 21px;
		height: 21px;
		margin: 0 5px;
		overflow: hidden;
		text-indent: -100px;
		background: url('../img/elements/jcarousel-pagination.png') 0 0 no-repeat;
	}
		.jcarousel-pagination a.active {
			background: url('../img/elements/jcarousel-pagination.png') 0 -21px no-repeat;
		}


/* Banners
----------------------------------------------------------------------------------------------------*/
.b-banners {
	margin: 40px 0;
}
	.b-banners__banner {
		margin: 10px 0;
	}

/* Footer
----------------------------------------------------------------------------------------------------*/
.b-footer-wrapper {
	position: relative;
	width: 100%;
	height: 74px;
	margin-top: -74px;
}
.b-footer {
	min-width: 1180px;
	max-width: 1600px;
	
	margin: auto;
	padding: 20px 120px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: #387ba2;
	background: -moz-linear-gradient(top,  #387ba2 0%, #156085 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#387ba2), color-stop(100%,#156085));
	background: -webkit-linear-gradient(top,  #387ba2 0%,#156085 100%);
	background: -o-linear-gradient(top,  #387ba2 0%,#156085 100%);
	background: -ms-linear-gradient(top,  #387ba2 0%,#156085 100%);
	background: linear-gradient(to bottom,  #387ba2 0%,#156085 100%);

	color: #fff;

	font-size: 0.857em; /* 12px / 14px */
	line-height: 1.428em; /* 20px / 14px */
}
	.b-footer a {
		color: #fff;
	}
	.b-footer__content {
		overflow: hidden;
	}
		.b-footer__copy,
		.b-footer__social {
			width: 30%;
			float: left;
		}
		.b-footer__links {
			width: 25%;
			padding-top: 10px;
			text-align: right;
			float: right;
		}
			.b-footer__links a {
				margin-right: 10px;
			}
			.b-footer__social {
				padding-top: 10px;
				text-align: center;
			}
				.b-footer__social img {
					vertical-align: middle;
					margin: 0 4px;
				}

/* Data section
----------------------------------------------------------------------------------------------------*/
.b-data {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	.b-data__title h2 {
		font: 1.786em/1em 'Georgia', serif; /* 25px / 14px */
		color: #323232;
	}


.b-data_vborders {
	margin: 0 18px;
	padding: 0 18px 20px;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

.b-data_home .b-data__title {
	position: relative;
	width: 265px;
	height: 50px;

	margin: 25px 0;
}
	.b-data_home .b-data__title h2 {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.b-data_home .b-object__about-item.last-update {
		max-width: 140px;
	}

/* Object
----------------------------------------------------------------------------------------------------*/
.b-object {
	position: relative;
	overflow: hidden;

	font-size: 0.786em; /* 11px / 14px */
	line-height: 15px;
	color: #929292;
}
	.b-object h4 {
		font-weight: bold;
		font-size: 1.4133em;
		line-height: 22px;
	}
	.b-object__image {
		position: absolute;
		top: 0;
		left: 0;

		width: 80px;
		height: 80px;
		margin-right: 15px;
		overflow: hidden;

		border-radius: 44px;
		border: 4px solid #e4e4e4;
	}
		.b-object__image .img {
			
		}
			.b-object__image .img img {
				width: 75px;
				height: 75px;

				border-radius: 40px;
			}
	.b-object__content {
		position: relative;
		top: 0;
		left: 0;

		margin-left: 100px;
		margin-bottom: 20px;
		padding-bottom: 20px;

		border-bottom: 1px solid #dbe0e5;
	}
		.b-object__content.no-image {
			margin-left: 0;
		}
		.b-object__about {
			font-size: 11px;
			line-height: 15px;
		}
			.b-object__about a {
				color: #8d9da6;
			}

/* Links to all objects (all objects, all groups etc.)
----------------------------------------------------------------------------------------------------*/
.b-object-all {
	margin-bottom: 20px;
	font-size: 11px;
}
	.b-object-all.objects {
		margin-left: 100px;
	}
	.b-object-all a {
		margin-right: 10px;
	}

/* Object items (layers, projects, readers, groups etc.)
----------------------------------------------------------------------------------------------------*/
.b-object-items {
	overflow: hidden;
	margin-bottom: 5px;
	font-size: 11px;
}
	.b-object-items__item {
		display: block;
		padding: 3px 15px 3px 20px;
		float: left;
	}
		.b-object-items__item a {
			color: #8d9da6;
		}
			.b-object-items__item a:hover {
				color: #5c6e78;
			}
		.b-object-items__item.icon-project {
			background: url('../img/icons/icon-project.png') no-repeat 0 2px;
		}
		.b-object-items__item.icon-layer {
			background: url('../img/icons/icon-layer.png') no-repeat 0 2px;
		}
		.b-object-items__item.icon-group {
			background: url('../img/icons/icon-group.png') no-repeat 0 2px;
		}
		.b-object-items__item.icon-reader {
			background: url('../img/icons/icon-reader.png') no-repeat 0 2px;
			color: #b89c63;
		}

/* List of objects
----------------------------------------------------------------------------------------------------*/
.b-objects_list {
	margin-top: 20px;
}
	.b-objects_list .b-object {
		min-height: 116px;
	}
	.b-objects_list .b-object-items {
		margin-top: 5px;
		float: left;
	}
	.b-objects_list .b-object__about {
		margin-top: 8px;
		float: left;
	}
	.b-objects_list .b-object__about-item {
		margin-right: 10px;
		float: left;
	}
	.b-objects_list .b-object__content {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: 20px;
		min-height: 86px;
		overflow: hidden;
	}
		.b-objects_list .b-object:last-child .b-object__content {
			border-bottom: 0;
		}


.b-objects_moderation .b-object__content {
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 30px;
}
	.b-objects_moderation .b-object__content h4 {
		margin-right: 480px;
	}
	.b-objects_moderation .b-object__content .b-object-items,
	.b-objects_moderation .b-object__content .b-object__about {
		padding-right: 480px;
		float: none;
		margin: 0;
	}

	.b-objects_moderation .b-object__actions {
		position: absolute;
		top: 15px;
		right: 0;
		width: 360px;
	}
		.b-objects_moderation .b-object__actions .b-object__action-links {
			position: relative;
			top: 10px;
			width: 260px;
			font-size: 11px;
			color: #798d97;
		}
			.b-objects_moderation .b-object__actions .b-object__action-links .link {
				display: inline-block;
				min-height: 16px;
				cursor: pointer;
			}
				.b-objects_moderation .b-object__actions .b-object__action-links .link .text {
					margin: 4px 20px;
					border-bottom: 1px dashed #798d97;
				}
		.b-objects_moderation .b-object__actions .b-object__action-buttons {
			position: absolute;
			top: 0;
			right: 0;
			width: 100px;
		}
			.b-objects_moderation .b-object__actions .b-object__action-buttons .f-button {
				padding: 8px 15px;
				font-size: 14px;
			}
.b-objects_moderation .b-object .b-object__map {
	display: none;
}
.b-objects_moderation .b-object.state-with-map {
	height: 390px;
}
	.b-objects_moderation .b-object.state-with-map .b-object__content {
		height: 360px;
	}
	.b-objects_moderation .b-object.state-with-map .b-object__map {
		display: block;
		position: absolute;
		top: 40px;
		left: 0;
		padding: 13px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: #eef5f6;
		border-radius: 10px;
	}
		.b-objects_moderation .b-object.state-with-map .b-object__map img {
			border: 1px solid #b7d1d6;
		}
	.b-objects_moderation .b-object.state-with-map .icon-map {
		background-image: url('../img/icons/icon-map-active.png');
	}
		.b-objects_moderation .b-object.state-with-map .icon-map .text {
			color: #323232;
		}


		.b-objects_moderation .b-object.state-with-map .b-object__map:before {
			content: '';
			position: absolute;
			top: -10px;
			left: 60px;
			width: 21px;
			height: 10px;
			background: url('../img/elements/arrow-top.png') no-repeat 0 0;
		}

.b-object_group .b-object-items__item {
	clear: both;
}
	.b-groups_profile .b-object {
		overflow: visible;
	}
	.b-groups_profile h4 {
		position: relative;
		float: left;
	}
		.b-groups_profile h4 .flag {
			position: absolute;
			top: 3px;
			left: -20px;
		}
	.b-groups_profile .b-object__about {
		margin: 4px 0 0 15px;
		float: left;
	}
	.b-groups_profile .b-object__description {
		padding: 8px 0 0 0;
		clear: both;
		float: none;

		font-size: 1.1818em; /* 13px / 11px */
		color: #525252;
	}
	.b-groups_profile .b-object:last-child .b-object__content {
		border-bottom: 0;
	}

.b-groups-list .b-object_group {
	position: relative;
	padding: 20px 0 0;
}
	.b-groups-list .b-object_group:last-child .b-object__content {
		border-bottom: 0;
	}
	.b-groups-list .b-object_group .b-object__content {
		padding-left: 25px;
		padding-right: 200px;
		margin-bottom: 0;
	}
	.b-groups-list .b-object_group .b-object__flags {
		position: absolute;
		top: 3px;
		left: 0;
	}
		.b-groups-list .b-object_group .b-object__flags .flag {
			width: 20px;
			text-align: center;
		}
	.b-groups-list .b-object_group .b-object__about {
		font-weight: normal;
		white-space: nowrap;
	}
	.b-groups-list .b-object_group .b-object__description {
		margin: 5px 0;
		font-size: 13px;
		color: #525252;
	}
	.b-groups-list .b-object_group .b-object__actions {
		position: absolute;
		top: 0;
		right: 0;
		width: 165px;
		height: 40px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		.b-groups-list .b-object_group .b-object__actions.group-join {
			right: 13px;
			padding: 6px 5px 5px 20px;
			background: url('../img/patterns/group-join.png') no-repeat 0 0;
		}
			.b-groups-list .b-object_group .b-object__actions.group-join .f-button {
				width: 140px;
				font-size: 14px;
			}
		.b-groups-list .b-object_group .b-object__actions.group-leave {
			padding: 6px;
			background: url('../img/patterns/group-leave.png') no-repeat 0 0;
		}
			.b-groups-list .b-object_group .b-object__actions.group-leave .f-button {
				width: 140px;
				font-size: 14px;
			}
			.b-groups-list .b-object_group .b-object__actions.group-leave .info {
				margin-top: 10px;
				font-size: 12px;
				font-style: italic;
				color: #929292;
			}
				.b-groups-list .b-object_group .b-object__actions.group-leave .info span {
					color: #000;
				}


/* Inner pages styles
----------------------------------------------------------------------------------------------------*/
.b-rss {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border-radius: 3px;

	background: #a73641;
	font-size: 16px;
	text-transform: uppercase;
}
	.b-rss a {
		display: block;
		padding: 6px 10px;

		color: #fff;
		text-decoration: none;
	}

/* Inner pages styles
----------------------------------------------------------------------------------------------------*/
.b-page-heading {
	z-index: 25;
	position: relative;

	min-height: 135px;
	padding: 35px 120px 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background: transparent url('../img/patterns/header-back.png') repeat-x center bottom;
}
	.b-page-heading h1 {
		margin: 0;
		padding: 0 100px 0 0;
	}
	.b-page-heading .b-rss {
		position: absolute;
		top: 45px;
		right: 120px;
	}
	.b-page-heading__link a {
		display: inline-block;
		padding: 0 5px 3px 22px;
		margin: 0 0 15px;
		font-size: 10px;
		font-size: .714em;
	}
	.b-page-heading__actions {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		right: 120px;
	}
		.b-page-heading__actions .f-button {
			padding: 8px 15px;
		}

/* Item creator information
----------------------------------------------------------------------------------------------------*/
.b-item-author {
	display: inline-block;
	padding: 8px 10px;
	margin: 15px 0 30px;
	overflow: hidden;
	border-radius: 16px;

	background: #fff;
	font-size: .786em;
}
	.b-item-author__item {
		margin: 0 20px 0 0;
		padding: 0 0 0 20px;
		float: left;
	}
	.b-item-author__item.icon-user {
		background: url('../img/icons/icon-user.png') no-repeat 0 0;
	}
	.b-item-author__item.icon-folder {
		background: url('../img/icons/icon-layer.png') no-repeat 0 0;
	}
	.b-item-author__item.icon-registration {
		background: url('../img/icons/icon-registration.png') no-repeat 0 0;
	}
	.b-item-author__item.icon-objects {
		background: url('../img/icons/icon-objects.png') no-repeat 0 0;
	}
	.b-item-author__item.icon-warnings {
		background: url('../img/icons/icon-warnings.png') no-repeat 0 0;
	}

/* Tabs menu
----------------------------------------------------------------------------------------------------*/
.b-tabs-menu {
	z-index: 30;
	position: relative;
	height: 58px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 15px 120px;

	background: url('../img/patterns/tab-menu-back.png') repeat-x 0 0;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e8ebec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8ebec));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e8ebec 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e8ebec 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e8ebec 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e8ebec 100%);
}
	.b-tabs-menu .b-menu {
		font-size: 1.45em;
		font-family: 'Georgia';
	}
		.b-tabs-menu .b-menu .b-menu__item {
			height: 24px;
			border-bottom: 1px dashed #84969f;
			margin-right: 30px;
			float: left;
		}
			.b-tabs-menu .b-menu .b-menu__item .b-menu__link {
				color: #84969f;
				text-decoration: none;
			}
		.b-tabs-menu .b-menu .b-menu__item.state-active {
			position: relative;
			border-bottom: 0;
		}
			.b-tabs-menu .b-menu .b-menu__item.state-active:after {
				content: '';
				position: absolute;
				bottom: -20px;
				left: 50%;

				width: 14px;
				height: 7px;

				margin-left: -7px;
				
				background: url('../img/elements/menu-active-white.png') 0 0 no-repeat;
			}
			.b-tabs-menu .b-menu .b-menu__item.state-active .b-menu__link { 
				color: #323223;
			}


.b-tabs-menu .b-menu_type_mygroups {
	float: right;
}
	.b-tabs-menu .b-menu_type_mygroups .b-menu__item {
		border-bottom: 0;
	}
	.b-tabs-menu .b-menu_type_mygroups .b-menu__link {
		padding-left: 25px;
		background: url('../img/icons/icon-star.png') no-repeat 0 3px;
	}
		.b-tabs-menu .b-menu_type_mygroups .b-menu__link .text {
			border-bottom: 1px dashed #84969f;
		}


/* News - Months & Pages menu
----------------------------------------------------------------------------------------------------*/
.b-news-pages {
	height: 86px;
	padding: 28px 0;
	margin: 0 120px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: url('../img/patterns/wavy-line.png') repeat-x 0 70px;
}
	.b-news-pages_bottom {
		margin-top: -60px;
		padding: 40px 0 60px;
		background: url('../img/patterns/wavy-line.png') repeat-x 0 0;
	}
	.b-news-pages__left {
		float: left;
	}
	.b-news-pages__right {
		float: right;
	}
.b-news-pages .b-menu__item {
	margin: 0 3px 0 0;
	font-size: .7em; /* 10px */
}
	.b-news-pages .b-menu__link {
		display: inline-block;
		padding: 3px 6px;
		text-align: center;
	}
		.b-news-pages .b-menu__item.state-active {
			background: #637986;
			background: -moz-linear-gradient(top,  #637986 0%, #b6c0c6 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#637986), color-stop(100%,#b6c0c6));
			background: -webkit-linear-gradient(top,  #637986 0%,#b6c0c6 100%);
			background: -o-linear-gradient(top,  #637986 0%,#b6c0c6 100%);
			background: -ms-linear-gradient(top,  #637986 0%,#b6c0c6 100%);
			background: linear-gradient(to bottom,  #637986 0%,#b6c0c6 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#637986', endColorstr='#b6c0c6',GradientType=0 );
			border-radius: 10px;
		}
			.b-news-pages .b-menu__item.state-active .b-menu__link
			 {
				color: #fff;
				text-decoration: none;
			}


/* News
----------------------------------------------------------------------------------------------------*/
.b-news_sidebar .b-news__item {
	margin-bottom: 20px;
	padding-bottom: 20px;

	border-bottom: 1px solid #dbe0e5;
}
	.b-news_sidebar .b-news__date {
		color: #929292;
		font-size: .7em; /* 10px */
	}
	.b-news_sidebar .b-news__content {
		font-size: 12px;
		line-height: 18px;
	}
		.b-news_sidebar .b-news__content .img {
			margin-top: 10px;
		}
			.b-news_sidebar .b-news__content .img img {
				padding: 3px;
				border: 1px solid #dbe0e5;
			}

.b-news_list .b-news__item {
	position: relative;
	clear: both;

	min-height: 190px;

	padding: 30px 0 0 240px;
	border-bottom: 1px solid #dbe0e5;
}
	.b-news_list .b-news__item:last-child {
		border-bottom: 0;
	}
	.b-news_list .b-news__image {
		position: absolute;
		top: 30px;
		left: 0;

		width: 210px;
		height: 157px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	
		padding: 4px;
		border: 1px solid #dbe0e5;
	}
	.b-news_list .b-news__content {
		position: relative;
	}
	.b-news_list .b-news__title {
		font-size: 1em;
		font-weight: normal;
	}
	.b-news_list .b-news__date {
		margin: 5px 0 10px;
		font-size: .7em; /* 10px */	
		color: #929292;
	}
	.b-news_list .b-news__anons {
		margin: 0 0 10px;
		font-size: .929em; /* 13px */
		color: #323232;
	}
		.b-news_list .b-news__anons p {
			margin-bottom: .4em;
		}

.b-news__tags {
	min-height: 16px;
	padding: 0 0 10px 20px;
	overflow: hidden;
	background: transparent url('../img/icons/icon-tags.png') 0 0 no-repeat;
	font-size: .7em; /* 10px */
}
	.b-news__tags .b-menu__item {
		margin-right: 10px;
	}
	.b-news__tags .b-menu__link {
		color: #798d97;	
	}

/* News text
----------------------------------------------------------------------------------------------------*/
.b-news-text h2 {
	padding: 10px 0 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dbe0e5;
	font-size: 1.429em;
}
.b-news-text p {
	margin: 0 0 1em;
	font-size: 1.071em;
}
	.b-news-text .b-news__tags {
		margin-bottom: 20px;
	}
	.b-news-text .b-text-photo {
		margin: 20px 0;
	}	
		.b-news-text .b-text-photo img {
			padding: 2px;
			border: 1px solid #dde2e7;	
			border-radius: 4px;
		}
	.b-news-text .b-text-photo__title {
		font-size: 13px;
		font-style: italic;
		color: #929292;
	}

/* Objects search form
----------------------------------------------------------------------------------------------------*/
.b-form_objects {
	padding: 20px 0 40px;
}
	.b-form_objects .b-form__col {
		width: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
	}
	.b-form_objects .b-form__col.b-form__col-left {
		padding-right: 35px;
	}
	.b-form_objects .b-form__col.b-form__col-right {
		padding-left: 35px;
	}
	.b-form_objects .b-form__item {
		margin-bottom: 20px;
	}
		.b-form__label {
			color: #323232;
		}
		.b-form_objects .f-select__current {
			border: 1px solid #c0ac82;
			background-image: url('../img/elements/f-select-2.png');
		}
		.b-form_objects .b-form__item .f-input-text {
			width: 100%;
			font-size: 1em;
		}
		.b-form_objects .b-form__item .f-input-text_date {
			width: 136px;
		}
		.b-form_objects .b-form__item .f-input-text_user {
			position: absolute;
			top: -5px;
			left: 120px;
			display: inline-block;
			width: 300px;
		}
		.b-form_objects .b-form__item .b-form__divider {
			display: inline-block;
			margin: 0 5px;	
		}
		.b-form_objects .f-radio-group {
			padding-top: 10px;
		}
			.b-form_objects .b-form__radio {
				position: relative;
				padding: 0 0 0 20px;
				margin: 8px 0;
			}
				.b-form_objects .b-form__radio .f-radio {
					position: absolute;
					top: 2px;
					left: 0;
				}
				.b-form_objects .b-form__label-radio {
					display: inline-block;
					height: 20px;
					font-size: .929em;
					cursor: pointer;
				}
		.b-form_objects .js-show-layer {
			display: inline-block;
			margin-top: 5px;
			font-size: .9em;
			color: #323232;
			cursor: pointer;
		}
			.b-form_objects .js-show-layer .link {
				display: block;
				float: left;
				border-bottom: 1px dashed #323232;
			}
			.b-form_objects .js-show-layer .icon {
				display: block;
				float: left;
				width: 17px;
				height: 16px;
				margin: 2px 0 0 5px;
				background: url('../img/elements/expand-collapse-arow.png') no-repeat -17px 0;
				border-bottom: 0;
			}
				.b-form_objects .js-show-layer.state-active .icon {
					background-position: 0 0;
				}

/* Objects moderation
----------------------------------------------------------------------------------------------------*/
.b-form_modeartion .b-layers {
	top: 280px;
	border: 1px solid #418db9;
}
.b-form_modeartion {
	margin: 25px 0;
	padding: 18px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWYyZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e9f2f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9f2f5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e9f2f5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e9f2f5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e9f2f5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e9f2f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9f2f5',GradientType=0 );

	-webkit-box-shadow: 0 10px 20px #c0cfd3;
	-moz-box-shadow: 0 10px 20px #c0cfd3;
	box-shadow: 0 10px 20px #c0cfd3;

	border: 4px solid #418db9;
	border-radius: 8px;
}
	.b-form_modeartion .b-form__title {
		margin-bottom: 15px;
		font: 25px 'Georgia';
		color: #323232;
	}
	.b-form_modeartion .f-input-text,
	.b-form_modeartion .f-select__current {
		border-color: #80a6bc;
	}
	.b-form_modeartion .js-show-layer,
	.i-default .b-form_modeartion .f-clear {
		color: #2f749b;
	}
		.b-form_modeartion .js-show-layer .link,
		.i-default .b-form_modeartion .f-clear {
			border-bottom-color: #2f749b;
		}
	.b-form_modeartion .f-input-text:focus {
		outline: none;
		-webkit-box-shadow: 0 0 1px #216d94;
		-moz-box-shadow: 0 0 1px #216d94;
		box-shadow: 0 0 1px #216d94;
	}

	.b-form_modeartion .f-radio {
		background-image: url('../img/elements/f-radio_color-blue.png');
	}


/* Layers popup layer
----------------------------------------------------------------------------------------------------*/
.b-layers {
	display: none;
	opacity: 0;
	position: absolute;
	top: 320px;
	left: 120px;
	right: 120px;

	padding: 15px 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);

	background-color: #fff;
	border: 1px solid #c0ac82;
	border-radius: 3px;
}
	.b-layers__col {
		width: 33%;
		float: left;
	}
	.b-layers__letter {
		font-weight: bold;
		font-size: 30px;
		font-family: 'Georgia';
	}
		.b-layers__layer {
			margin: 0 0 9px;
			padding: 0 0 0 16px;

			font-size: 12px;
			color: #798d97;
		}
			.b-layers__layer span {
				border-bottom: 1px dashed #798d97;
				cursor: pointer;
			}
		.b-layers__layer.state-active {
			background: url('../img/elements/tick.png') no-repeat 0 2px;
			color: #323232;
		}
			.b-layers__layer.state-active span {
				border-bottom-color: #323232;
			}
.b-layers__pagination {
	margin-top: 10px;
	padding-top: 15px;
	border-top: 1px solid #dbe0e5;
	text-align: center;
}
	.b-layers .b-menu_pagination {
		display: inline-block;
	}
		.b-layers .b-menu_pagination .b-menu__item {
			display: inline-block;
		}



/* Comments
----------------------------------------------------------------------------------------------------*/
.b-comments {

}

.b-comments__title {
	padding: 20px 0;
	margin: 20px 0;
	border-top: 1px solid #dbe0e5;
	font-size: 2.143em;
	font-family: 'Georgia';
	line-height: 1em;
}
	.b-comments__title .text {
		border-bottom: 1px dashed #798d97;
		cursor: pointer;
	}
	.b-comments__title .icon {
		display: inline-block;
		width: 21px;
		height: 21px;
		margin-top: 4px;
		background: url('../img/elements/expand-collapse-arow-big.png') no-repeat 0 0;
		cursor: pointer;
	}
		.b-comments__title .icon.state-collapsed {
			background-position: -21px 0;
		}

.b-comment {
	position: relative;
	padding: 0 0 0 100px;
	margin: 0 0 25px;
	min-height: 100px;
}
	.b-comment .b-comment {
		margin: 25px 0;
	}
	.b-comment__avatar {
		position: absolute;
		top: 0;
		left: 0;

		width: 80px;
		height: 80px;
		margin-right: 15px;
		overflow: hidden;

		border-radius: 44px;
		border: 4px solid #e4e4e4;
	}
		.b-comment__avatar .img {
			margin: 3px;
		}
			.b-comment__avatar .img img {
				width: 75px;
				height: 75px;

				border-radius: 40px;
			}
		.b-comment__about {
			margin: 0 0 5px 0;
			font-size: 0.714em; /* 11px */
		}
			.b-comment__author {
				margin: 0 10px 0 0;
				font-size: 1.1em;
				color: #798d97;
			}
		.b-comment__text {
			font-size: 0.857em;
		}
			.b-comment__text p {
				margin-bottom: 10px;
			}
		.b-comment__actions {
			font-size: 0.714em; /* 11px */
		}
			.b-comment__actions a {
				display: inline-block;
				height: 16px;
				margin: 0 10px 0 0;
				color: #798d97;
				text-decoration: none;
			}
			.b-comment__actions a span {
				border-bottom: 1px dashed #798d97;
			}
.b-comment_deleted {
	position: relative;
	padding: 10px;
	border: 1px dashed #b4babe;
	min-height: 0;
	color: #b4babe;
	font-size: 0.857em;
	text-align: center;
}
	.b-comment_deleted:before {
		content: '';
		position: absolute;
		top: -9px;
		left: 15px;
		width: 18px;
		height: 15px;
		background: url('../img/elements/scissors.png') no-repeat 0 0;
	}
	.b-comment_deleted:after {
		content: '';
		position: absolute;
		bottom: -7px;
		right: 15px;
		width: 18px;
		height: 15px;
		background: url('../img/elements/scissors.png') no-repeat 0 -15px;
	}

.b-comments__actions {
	padding: 30px 0;
	border-top: 1px solid #dbe0e5;
}

/* User profile
----------------------------------------------------------------------------------------------------*/
.b-user-profile {
	margin: 50px 0;
	padding: 0 14%;	/* 140px / 1000px */
}
	.b-user-profile__head {
		position: relative;
		width: auto;
		min-height: 260px;
	}
		.b-user-profile__photo {
			z-index: 20;
			position: absolute;
			width: 243px;
			height: 243px;
			margin-right: 20px;

			border-radius: 125px;
			overflow: hidden;
			border: 5px solid #e4e4e4;
		}
			.b-user-profile__photo .img {
				position: absolute;
				top: 0;
				left: 0;
				width: 235px;
				height: 235px;
				border-radius: 120px;
				overflow: hidden;
				border: 4px solid #fff;
			}
		.b-user-profile__photo-actions {
			z-index: 20;
			position: absolute;
			top: 250px;
			left: 0;
			width: 243px;
			height: auto;
		}
			.b-user-profile__photo-actions a {
				display: inline-block;
				padding: 4px 0 4px 20px;
				float: left;
				font: 11px Arial,sans-serif;
				color: #798d97;
			}
				.b-user-profile__photo-actions a.delete {
					margin-left: 10px;
					margin-right: 45px;
					background: url('../img/icons/icon-delete.png') no-repeat 0 4px;
				}
				.b-user-profile__photo-actions a.update {
					background: url('../img/icons/icon-update.png') no-repeat 0 4px;	
				}

		.b-user-profile__info {
			z-index: 10;
			position: relative;
			padding-left: 280px;
		}
			.b-user-profile__shortly {
				line-height: 28px;
			}
			.b-user-profile__social {
				margin: 30px 0;
				padding: 25px 0;
				border-top: 1px solid #dbe0e5;

				font-style: italic;
				font-size: .866667em; /* 13px / 15px */

			}
		.b-user-profile__add-info {
			position: relative;
			padding: 0;
		}
			.b-user-profile__add-info .b-form_type_social {
				position: absolute;
				top: 0;
				left: 0;
				width: 280px;
			}
			.b-user-profile__add-info .b-form_type_user-message {
				padding-left: 280px;
			}
	.b-user-profile__detailed {
		margin: 30px 0 0;
		padding: 40px 0;
		background: url('../img/patterns/wavy-line.png') repeat-x 0 0;
		font: 15px/20px Arial,sans-serif;
	}
		.b-user-profile__detailed p {
			margin: 0 0 20px;
		}
	.b-user-profile__actions {
		padding: 40px 0;
		background: url('../img/patterns/wavy-line.png') repeat-x 0 0;
	}

	.b-content_page_user h2 {
		font-size: 1.6667em; /* 25px / 15px */
	}
	.b-content_page_user .b-menu_pagination {
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.b-content_page_user .b-menu_pagination.bottom {
		margin: 0;
	}

/* Text page
----------------------------------------------------------------------------------------------------*/
.b-page-heading_text-page {
	padding-bottom: 40px;
	background: url('../img/patterns/wavy-line.png') repeat-x 0 bottom;
}
.b-text-page h2 {
	margin-bottom: 0.5em;
}
	.b-text-page h2.js-collapsible-link .text {
		border-bottom: 1px dashed #798d97;
		color: #798d97;
		cursor: pointer;
	} 
	.b-text-page h2.js-collapsible-link .icon {
		display: inline-block;
		width: 21px;
		height: 21px;
		line-height: 21px;
		overflow: hidden;
		cursor: pointer;
	}
		.b-text-page h2.js-collapsible-link .icon img {
			margin-top: -21px;
			margin-left: -21px;
		}
		.b-text-page h2.js-collapsible-link.state-active .text {
			color: #323232;
			border-bottom: 1px dashed #323232;
		}
		.b-text-page h2.js-collapsible-link.state-active img {
			margin-top: 0;
			margin-left: 0;
		}
.b-text-page h3 {
	font: normal 1.43em 'Georgia'; /* 20px / 14px */
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.b-text-page p {
	margin: 0 0 1em;
}
.b-text-page ul li {
	margin: 0 0 5px;
	padding-left: 15px;
	background: url('../img/elements/ul-item.png') no-repeat 2px 4px;
	font-size: 0.92857em; /* 13px / 14px */
}
.b-text-page ol li {
	margin: 0 0 5px;
	padding-left: 15px;
	font-size: 0.92857em; /* 13px / 14px */	
}
.b-text-page ol>li{
	display:block
}
.b-text-page ol>li:before {
	content:counters(item,".") ". ";
	counter-increment: item;
}
.b-text-page ol {
	counter-reset: item;
}
.b-text-page .js-collapsed {
	display: none;
}
	.b-text-page .js-full-text .link {
		color: #798d97;
		border-bottom: 1px dashed #798d97;
		cursor: pointer;
	}
	.b-text-page .js-full-text .icon {
		position: relative;
		top: 2px;
		display: inline-block;
		width: 15px;
		height: 15px;

		margin-left: 5px;

		background: url('../img/icons/icon-expand.png') no-repeat 0 0;
		cursor: pointer;
	}
	.b-text-page .js-full-text .icon.collapse {
		background: url('../img/icons/icon-collapse.png') no-repeat 0 0;
	}
	.b-text-page .img {

	}
		.b-text-page .img img {
			padding: 2px;
			border: 1px solid #dbe0e5;
		}
	.b-text-page .img-text {
		color: #929292;
		font-style: italic;
		font-size: .857em; /* 12px / 14px */
	}

	.b-text-page table {
		width: 100%;
	}
		.b-text-page table th,
		.b-text-page table td {
			padding: 12px 10px;
			font-size: .857em; /* 12px / 14px */		
		}
		.b-text-page table th {
			background: #f9eacc;
		}
		.b-text-page table .odd td {
			background: #fdf9f0;
		}

.b-text-page__files {
	margin-top: 30px;
	border-top: 1px solid #dbe0e5;
}
	.b-text-page__files h2 {
		margin-top: 10px;
	}
	.b-text-page__files .js-collapsible-content {
		padding-bottom: 40px;
	}
.b-text-page .b-comments {
	border-top: 1px solid #dbe0e5;
}
	.b-text-page .b-comments h2 {
		margin-top: 10px;
	}
	.b-text-page .b-comments .js-collapsible-content {
		padding-bottom: 40px;
	}

/* User layers
----------------------------------------------------------------------------------------------------*/
.b-user-layer_view_short {
	position: relative;
	padding: 25px 300px 25px 10px;
	border-bottom: 1px solid #dbe0e5;
	overflow: hidden;
}
	.b-user-layer_view_short:last-child {
		border-bottom: 0;
	}
	.b-user-layer_view_short .b-user-layer__checkbox {
		position: absolute;
		top: 28px;
		left: 0;
		width: 13px;
		height: 13px;
	}
		.b-user-layer_view_short .b-user-layer__checkbox .checkbox-checked {
			background: url('../img/elements/checkbox.png') no-repeat 0 0; 
		}
		.b-user-layer_view_short .b-user-layer__checkbox input {
			width: 13px;
			height: 13px;
			opacity: 0;
		}
	.b-user-layer_view_short .b-user-layer__info {
		
	}
	
	.b-user-layer_view_short .b-user-layer__title,
	.b-user-layer_view_short .b-user-layer__properties {
		display: inline-block;
		padding-left: 20px;
	}
		.b-user-layer_view_short .b-user-layer__title .g-dotted {
			font-size: 16px;
			font-weight: bold;	
			color: #798d97;
			border-bottom: 1px dashed #798d97;
			cursor: pointer;
		}
		.b-user-layer_view_short.state-active .b-user-layer__title .g-dotted {
			color: #323232;
			border-bottom: 1px dashed #323232;
		}
		
	.b-user-layer_view_short .b-user-layer__properties {
		display: inline-block;
		margin: 5px 20px 5px 0;
		font-size: 11px;
		color: #929292;
	}
		.b-user-layer_view_short .b-user-layer__properties span {
			display: inline-block;
			margin-right: 20px;
		}
			.b-user-layer_view_short .b-user-layer__properties span strong {
				font-weight: normal;
				color: #323232;
			}
	.b-user-layer_view_short .b-user-layer__actions {
		position: absolute;
		top: 25px;
		right: 0;
	}
		.b-user-layer_view_short .b-user-layer__actions .icon {
			display: inline-block;
			min-height: 16px;
			margin-left: 20px;
			padding-left: 20px;

			font-size: 11px;
			color: #798d97;
			text-decoration: none;
		}
			.b-user-layer_view_short .b-user-layer__actions .icon span {
				border-bottom: 1px dotted #798d97;
			}
		.b-user-layer_view_short .b-user-layer__actions .icon-edit {
			background: url('../img/icons/icon-edit.png') no-repeat 0 0;
		}
		.b-user-layer_view_short .b-user-layer__actions .icon-delete {
			background: url('../img/icons/icon-delete.png') no-repeat 0 0;
		}



/* User styles
----------------------------------------------------------------------------------------------------*/
.b-user-styles {
	overflow: hidden;
}

	.b-user-style_view_short {
		position: relative;
		overflow: hidden;
		min-height: 68px;
		border-bottom: 1px solid #dbe0e5;
	}
		.b-user-styles .b-user-style_view_short:last-child {
			border-bottom: 0;
		}
	.b-user-style_view_short .b-user-style__icon {
		position: absolute;
		top: 26px;
		width: 16px;
		height: 16px;
	}
	.b-user-style_view_short .b-user-style__name {
		width: 20%; /* 200px / 960px */
		margin: 25px 0;
		padding-left: 25px;
		float: left;

		font-weight: bold;
	}
	.b-user-style_view_short .b-user-style__description {
		width: 38.5%; /* 370px / 960px */
		margin: 25px 0;
		float: left;

		font-size: .786em; /* 11px / 14px */
		color: #929292;
	}
	.b-user-style_view_short .b-user-style__image {
		width: 16%; /* 150px / 960px */
		height: 68px;
		float: left;
		text-align: center;
	}
		.b-user-style_view_short .b-user-style__image .g-va-middle {
			height: 68px;
			line-height: 68px;
		}
		.b-user-style_view_short .b-user-style__image img {
			margin: 0 auto;
			vertical-align: middle;
		}
	.b-user-style_view_short .b-user-style__actions {
		position: absolute;
		top: 25px;
		right: 0;
	}
		.b-user-style_view_short .b-user-style__actions .icon {
			display: inline-block;
			min-height: 16px;
			margin-left: 20px;
			padding-left: 20px;

			font-size: 11px;
			color: #798d97;
			text-decoration: none;
		}
			.b-user-style_view_short .b-user-style__actions .icon span {
				border-bottom: 1px dotted #798d97;
			}
		.b-user-style_view_short .b-user-style__actions .icon-edit {
			background: url('../img/icons/icon-edit.png') no-repeat 0 0;
		}
		.b-user-style_view_short .b-user-style__actions .icon-delete {
			background: url('../img/icons/icon-delete.png') no-repeat 0 0;
		}
	.b-user-style_view_short.state-admin .b-user-style__actions {
		opacity: 0.5;
	}
	.b-user-style_view_short.state-admin .b-user-style__icon {
		background: url('../img/icons/icon-book.png') no-repeat 0 0;
	}



/* Sign In page
----------------------------------------------------------------------------------------------------*/
.b-page-heading_sign-in {
	min-height: 80px;
	background: #fff;
}
	.b-page-heading_sign-in h1 {
		text-align: center;
	}

.b-tabs_type_signin {
	margin: 20px auto;
}
.b-tabs_type_signin .b-tabs__tabs {
	height: 60px;
	text-align: center;
}
	.b-tabs_type_signin .b-tabs__tab {
		display: inline-block;
		padding: 20px 12px;
		float: none;
		font: normal 1.4286em Georgia; /* 20px / 14px */
		color: #798d97;
	}
		.b-tabs_type_signin .b-tabs__tab span {
			border-bottom: 1px dashed #798d97;
			cursor: pointer;
		}
	.b-tabs_type_signin .b-tabs__tab.state-active {
		background: url('../img/elements/tabs-current.png') no-repeat center bottom;
		color: #323232;
	}
		.b-tabs_type_signin .b-tabs__tab.state-active span {
			border-bottom: 0;
		}

	.b-tabs_type_signin .b-tabs__item p {
		z-index: 20;
		position: relative;
		text-align: center;
		margin: 1em 4em;
	}
.b-form_type_signin {
	z-index: 10;
	position: relative;
}
.b-form_type_signin .b-form__content {
	z-index: 10;
	position: relative;
	width: 600px;

	padding: 20px 20px 5px 20px;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e9f2f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9f2f5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e9f2f5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e9f2f5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e9f2f5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e9f2f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9f2f5',GradientType=0 );

	border: 4px solid #418db9;
	border-radius: 8px;
	text-align: center;
}
	.b-form_type_signin:before {
		z-index: 5;
		content: '';
		position: absolute;
		bottom: -60px;
		left: -12px;
		width: 625px;
		height: 224px;
		background: url('../img/patterns/signin-shadow.png') no-repeat 0 0;		
	}
	.b-form_type_signin .b-form__row {
		padding: 6px 10px;
	}
		.b-form_type_signin .b-form__submit {
			padding: 10px 0 15px;
			border-bottom: 1px solid #d2d8df;
		}
			.b-form_type_signin .b-form__submit .f-button {
				padding: 8px 30px;
				font-size: 16px;
			}
		.b-form_type_signin .b-form__row p {
			margin-top: 0;
			margin-bottom: 0;
		}
	.b-form_type_signin .f-input-text {
		width: 430px;
		border: 1px solid #80a6bc;
	}


.b-sign-in {
	width: 600px;
	margin: 0 auto;
}


/* User edit form
----------------------------------------------------------------------------------------------------*/
.b-form_type_user {
	padding-bottom: 30px;
	margin-bottom: 20px;
	background: url('../img/patterns/wavy-line.png') repeat-x bottom left;
}
.b-form_type_user .b-form__row {
	padding-right: 20px;
}
.b-form_type_user .f-input-text {
	width: 100%;
	max-width: 308px;
	border: 1px solid #a8b0b8;
	color: #999;
}
	.b-form_type_user .f-input-text:focus {
		border-color: #2088bd;
		outline: none;
		box-shadow: 0 0 3px rgba(32,136,189,0.5);
	}
	.b-form_type_user .f-input-text[readonly]:focus {
		box-shadow: none;
		outline: none;
		border: 1px solid #a8b0b8;
	}
	.b-form_type_user .f-input-text.state-error {
		border-color: #b82837;
		color: #b82837;
		outline: none;
		box-shadow: 0 0 3px rgba(184,40,55,0.5);
	}

.b-form_type_user .b-form__label {
	font: italic normal 12px/16px Arial,sans-serif;
	color: #999;
}
.b-user-form__title {
	padding-top: 17px;
	font: 20px/20px 'Georgia';
	color: #323232;
}
	.b-user-form__title .text {
		display: inline-block;
		border-bottom: 1px #000 dashed;
		cursor: pointer;
	}
	.b-user-form__title .icon {
		display: inline-block;
		margin-top: 4px;
		margin-left: 5px;
		width: 17px;
		height: 16px;
		background: url('../img/elements/expand-collapse-arow.png') no-repeat -17px 0;
		cursor: pointer;
	}
	.state-active .b-user-form__title .icon {
		background-position: 0 0;
	}

/* Message form
----------------------------------------------------------------------------------------------------*/
.b-form_type_user-message {
	padding-top: 15px;
}
	.b-form_type_user-message .b-form__row {
		padding-right: 20px;
	}
	.b-form_type_user-message .f-textarea {
		width: 100%;
		height: 190px;
		max-width: 660px;
		color: #525252;
		border-color: #a8b0b8;
	}
		.b-form_type_user-message .f-textarea:focus {
			border-color: #2088bd;
			outline: none;
			box-shadow: 0 0 3px rgba(32,136,189,0.5);
		}

/* Social sharing form
----------------------------------------------------------------------------------------------------*/
.b-form_type_social { }
	.b-form_type_social .b-user-form__title .text {
		border-bottom: 0;
		margin-bottom: 15px;
	}
	.b-form_type_social .b-form__field {
		width: 185px;
		float: left;
	}
		.b-form_type_social .b-form__field .f-input-text {
			width: 180px;
			border-color: #a8b0b8;
		}
		.b-form_type_social .b-form__field .f-input-text:focus {
			border-color: #2088bd;
			outline: none;
			box-shadow: 0 0 3px rgba(32,136,189,0.5);
		}
	.b-form_type_social .b-form__button {
		width: 80px;
		float: left;
	}
		.b-form_type_social .b-form__button .f-button {
			padding: 7px 10px;
			font-size: 12px;
		}

.b-user-social-item {
	position: relative;
	width: auto;
	max-width: 260px;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 20px;
	border: 1px dashed #c6cdd6;
}
	.b-user-social-item .icon {
		position: absolute;
		top: -2px;
		left: -2px;
	}
	.b-user-social-item .link {
		margin: 3px 40px;
		font-size: 13px;
	}
		.b-user-social-item .link a {
			color: #899ba4;
		}
			.b-user-social-item .link a:hover {
				color: #556b76;
			}
	.b-user-social-item .delete {
		position: absolute;
		top: 3px;
		right: 3px;
		width: 23px;
		height: 23px;
		cursor: pointer;
	}
.b-form__error {
	position: relative;
	top: -15px;
	padding: 10px;
	margin-right: 20px;
	border: 1px dashed #bf4955;
	border-radius: 6px;
	color: #bf4955;
}
	.b-form__error:before {
		content: '';
		position: absolute;
		top: -8px;
		left: 75px;
		width: 15px;
		height: 8px;
		background: url('../img/patterns/error-arrow.png') no-repeat 0 0;
	}



/* Item (eg object) info
----------------------------------------------------------------------------------------------------*/
.b-item-info {
	margin: 0 120px;
	padding: 25px 0 45px;
}
	.b-item-info__item {
		margin: 0 40px 0 0;
		float: left;
		font-size: 11px;
		color: #929292;
	}
		.b-item-info__item a {
			color: #798d97;
		}
	.b-item-info .js-collapsible-link .text {
		color: #b94450;
		border-bottom: 1px dotted #b94450;
		cursor: pointer;
	}
	.b-item-info .js-collapsible-link .icon {
		display: inline-block;
		width: 17px;
		height: 16px;
		vertical-align: middle;
		overflow: hidden;
		cursor: pointer;
	}
		.b-item-info .js-collapsible-link.state-active .icon img {
			margin-top: -16px;
		}
	.b-item-info__history {
		display: none;
		width: 100%;
		clear: both;
	}

.b-item-info .b-list {
	padding: 10px 0;
}
	.b-item-info .b-list__item {
		margin: 10px 0;
		font-size: 12px;
	}
		.b-item-info .b-list__item .date {
			margin-right: 20px;
			font-size: 11px;
		}
		.b-item-info .b-list__item .author {
			margin-right: 20px;
		}
		.b-item-info .b-list__item .changes {

		}


/* Gallery styles
----------------------------------------------------------------------------------------------------*/
.b-img-gallery {
	position: relative;
	top: 0;
	bottom: 0;
	width: 710px;
	padding: 1px;
	border: 1px solid #dbe0e5;
}
	.b-img-gallery__main img {
		display: block;
	}
	.b-img-gallery__thumbnails {
		z-index: 10;
		position: relative;
		height: 90px;
		margin: 1px 58px;
	}
		.b-img-gallery__thumbnail {
			z-index: 2;
			position: relative;
			width: 117px;
			height: 87px;
			margin: 0 1px 0 0;
			float: left;
		}
			.b-img-gallery__thumbnail img {
				opacity: 0.5;
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				filter: grayscale(100%);
			}
			.b-img-gallery__thumbnail:hover img {
				opacity: 1;
				-webkit-filter: grayscale(0);
				-moz-filter: grayscale(0);
				filter: grayscale(0);
				z-index: 5;
				-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
				-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
				box-shadow: 0 5px 10px rgba(0,0,0,0.5);
				cursor: pointer;
			}
	.b-img-gallery__arrows {
		z-index: 5;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 87px;
	}
		.b-img-gallery__arrows .prev {
			position: absolute;
			top: 26px;
			left: 12px;
			display: block;
			width: 31px;
			height: 31px;
			background: url('../img/elements/jcarousel-arrows.png') no-repeat 0 -31px;
			cursor: pointer;
		}
		.b-img-gallery__arrows .next {
			position: absolute;
			top: 26px;
			right: 12px;
			display: block;
			width: 31px;
			height: 31px;
			background: url('../img/elements/jcarousel-arrows.png') no-repeat -31px -31px;
			cursor: pointer;
		}

/* Audio
----------------------------------------------------------------------------------------------------*/
.b-audio {
	margin-bottom: 20px;
	font-size: 11px;
}
	.b-audio a {

	}
	.b-audio__title {
		font-size: 14px;
	}
	.b-audio__file {
		margin: 5px 0 0;
	}

/* Social and sharing icons
----------------------------------------------------------------------------------------------------*/
.b-social_type_sidebar {
	padding: 10px;
	margin: 0 0 20px;
	border: 1px solid #dbe0e5;
	border-radius: 2px;
	font-size: 11px;
	color: #929292;
}
	.b-social_type_sidebar .b-social__icons {
		padding: 5px 0 0;
	}

/* Mini map (eg sidebar)
----------------------------------------------------------------------------------------------------*/
.b-minimap_type_sidebar {
	margin: 0 0 20px;
}
	.b-minimap_type_sidebar .b-minimap__map {
		padding: 1px;
		border: 1px solid #dbe0e5;
		border-radius: 2px;
	}
		.b-minimap_type_sidebar .b-minimap__map img {
			width: 100%;
			display: block;
		}
	.b-minimap_type_sidebar .b-minimap__text {
		margin-top: 5px;
		font-size: 11px;
	}
		.b-minimap_type_sidebar .b-minimap__text .icon {
			display: inline-block;
			margin-top: 2px;
			margin-left: 5px;
			vertical-align: middle;
		}

/* Groups
----------------------------------------------------------------------------------------------------*/
.b-groups__top {
	margin: 0;
	padding: 25px 0 0;
	overflow: hidden;	
}
.b-groups__bottom {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
	.b-groups__bottom .b-menu_pagination {
		padding-top: 40px;
		background-position: top left;
	}

/* Geocoder
----------------------------------------------------------------------------------------------------*/

.b-geocoder {
	padding-bottom: 60px;
}
.b-geocoder .b-tabs {
	position: relative;
	margin: 40px 0 0;
	padding: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 120px;
	min-width: 840px;
}
	.b-geocoder .b-tabs__item {

		margin: 0 1px;
		vertical-align: middle;
		border-radius: 3px 3px 0 0;
	}

	.b-geocoder .b-tabs__item-current {
		height: 40px;
		margin-top: -3px;
	}
		.b-geocoder .b-tabs__item-current a {
			font-size: 14px;
		}


.b-geocoder__content {
	padding: 0 120px;
}

.b-geo {
	padding: 20px 0;
	color: #525252;

	font: 1em Arial,sans-serif;
}
	.b-geo__textarea-wrapper {
		width: auto;
		min-height: 210px;
	}
		.b-geo__textarea {
			width: 100%;
			min-height: 200px;
			max-width: 100%;

			border: 1px solid #bbbec1;	
			border-radius: 4px;

			font: 13px/18px Arial,sans-serif;
			color: #444;

			outline: none;
		}
.b-geo__col {
	width: 50%;
	float: left;
}
	.b-geo__col h3 {
		margin: 25px 0 15px;
		font: 20px/20px Georgia;
		color: #323232;
	}
.b-geo__item {
	position: relative;
	width: auto;
	margin: 0 10px 10px 0;
}
	.b-geo__item-content {
		padding: 15px 20px;
		margin-right: 45px;

		background: #f8fafa;
		color: #323232;
		font: 14px/20px Arial,sans-serif;

		border: 1px dashed #bfccdd;
		border-radius: 5px;
	}
		.b-geo__item-content .b-geo__col {
			width: 50%;
			height: 40px;
		}
		.b-geo__item-content strong {
			font-weight: 600;
			color: #000;
		}
		.b-geo__item-content .cusel {
			width: 100% ! important;
			margin-bottom: 5px;
		}
		.b-geo__item-content .b-geo__col .cusel {
			width: 95% !important;
		}

	.b-geo__item-actions {
		position: absolute;
		right: 15px;
		top: 50%;
		width: 23px;
		height: 23px;
		margin-top: -12px;
	}

.b-geo__item-buttons {
	height: 33px;
}
	.b-geo__item-buttons .f-button {
		float: left;
	}
	.b-geo__item-buttons .link {
		margin-top: 10px;
		float: right;
		font-size: 12px;
		line-height: 12px;
		text-decoration: none;
		border-bottom: 1px dotted #186388;
	}
.b-geo__field {
	width: 95%;
	height: 26px;
	border: 1px solid #bbbec1;
	border-radius: 4px;
	font-size: 14px;
	text-indent: 5px;
}

	.b-geo__col .checkbox {
		margin-bottom: 10px;
		min-height: 20px;
	}
		.b-geo__col .checkbox .ui-custom-checkbox {
			float: left;
		}
		.b-geo__col .checkbox label {
			position: relative;
			top: -1px;
			float: left;
			margin-left: 5px;
			font: 14px/20px Arial,sans-serif;
			color: #576e85;
			cursor: pointer;
		}
			.b-geo__col .checkbox label strong {
				font-weight: 600;
				color: #000;
			}
.b-geo__begin {
	padding: 40px 0;
	margin: 0 auto;
	font-size: 13px;
	color: #576e85;
	text-align: center;
}
	.b-geo__begin .f-button {
		margin-bottom: 10px;
		font-size: 14px;
	}

.b-geo-results {
	padding: 0 120px;
	font: 1em Arial,sans-serif;
}


.b-geo-results__navigation {
	margin: 0 20px;
	height: 60px;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	border: 1px solid #ededed;
	border-radius: 6px;
}


.b-geo-results__pagination .b-pagination-wrapper {
	width: auto;
	float: right;
	border: 0;
	background: none;
	margin-top: -15px;
}
/* .b-geo-results__pagination .b-pagination li {
	position: relative;
	margin-right: 2px;
}

.b-geo-results__pagination .b-pagination-wrapper .b-pagination__prev,
.b-geo-results__pagination .b-pagination-wrapper .b-pagination__next {
	margin: 0 5px;
}
.b-geo-results__pagination .b-pagination-wrapper .b-pagination .b-pagination__usual {
	padding: 3px 10px;
} */
.b-pagination.bottom {
	margin-top: 22px;
}
.b-geo-results__tabs {
	position: relative;
	padding-top: 20px;
}
	.b-geo-results__tabs .b-tabs {
		position: absolute;
		top: 28px;
		width: auto;
		padding: 0 0 0 20px;
	}

.b-geo-results__tabs .b-tabs__tab {
	position: relative;
	margin: 0 30px 0 0;
	float: left;
}
	.b-geo-results__tabs .b-tabs__tab a {
		border-bottom: 1px dotted #186388;
		font-size: 12px;
		color: 	186388;
		text-decoration: none;
	}
	.b-geo-results__tabs .b-tabs__tab .counter {
		position: absolute;
		top: -15px;
		left: 50%;
		margin-left: -10px;
		padding: 2px 6px 3px;
		font-size: 10px;
		font-weight: bold;
		line-height: 10px;
		border-radius: 2px;
	}
	.b-geo-results__tabs .b-tabs__tab .counter.single-meaning {
		background: #fff;
		border: 1px solid #ccc;
	}
	.b-geo-results__tabs .b-tabs__tab .counter.many-meanings {
		background: #f1dcb1;
	}
	.b-geo-results__tabs .b-tabs__tab .counter.without-compliance {
		background: #e7cbe3;
	}
.b-geo-results__tabs .b-tabs__tab.current {
	padding: 2px 10px;
	background: #1a6388;
	border-radius: 5px;
	text-align: center;
}
	.b-geo-results__tabs .b-tabs__tab.current a {
		border: 0;
		color: #fff;
	}


.b-geo-results__list {
	z-index: 10;
	position: relative;
	margin: 20px;
}

	.b-geo-results__address {
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		color: #000;
	}
		.b-geo-results__address.many-meanings {
			padding: 3px;
			font: bold 14px Arial,sans-serif;
			color: #000;
			background: #edab6c;
		}
		.b-geo-results__address.without-compliance{
			padding: 3px;
			font: bold 14px Arial,sans-serif;
			color: #000;
			background: #da9ad6;
		}
.b-geo-results__item {
	position: relative;
	margin-right: 250px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cdd5da;
}
	.b-geo-results__item:last-child {
		border-bottom: 0;
	}

.b-geo-results__fields {
	position: relative;
	width: auto;
}

.b-geo-results__field {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 0;
	min-height: 35px;
	clear: both;
	font-size: 13px;
	color: #637688;
}
	.b-geo-results__field .ui-custom-radio {
		position: relative;
		top: 2px;
		margin-right: 5px;
	}
	.b-geo-results__field strong {
		font-weight: bold;
		color: #000;
	}

.b-markers-filter__show-all span {
	font-size: 11px;
	color: #525252;
	border-bottom: 1px dotted #525252;
	cursor: pointer;
}
.b-geo-results__all-fields {
	display: none;
}

.b-geo-results__field .b-markers-filter__radio,
.b-geo-results__field .b-geo-results__item-objects {
	float: left;
}
	.b-geo-results__field .b-markers-filter__radio {
		margin-right: 10px;
	}
	.b-geo-results__field .b-geo-results__item-objects {
		margin-top: 3px;
		font-size: 11px;
	}
		.b-geo-results__field .b-geo-results__item-objects span {
			margin-right: 5px;
			font-size: 11px;
			color: #637688;
			text-decoration: none;
		}
		.b-geo-results__field .b-geo-results__item-objects span.more {
			color: #000000;
			border-bottom: 1px dotted #000000;
			cursor: pointer;
		}

	.b-geo-results__map {
		position: absolute;
		top: 5px;
		right: -22px;
		padding: 5px 25px 5px 5px;
	}

	.b-geo-results__map .f-button {
		padding: 4px 8px;
		font-size: 11px;
		text-decoration: none;
	}

		.state-active .b-geo-results__map {
			background: #efefef;
			border: 1px solid #d6d6d6;
			border-width: 1px 0 1px 1px;
			border-radius: 8px 0 0 8px;
		}
	.b-geo-results__accept {
		padding: 40px 0 100px;
		text-align: center;
	}
		.b-geo-results__accept .f-button {
			display: inline-block;
			text-align: center;
		}

.b-geo-results__map-layer {
	display: none;
	position: absolute;
	top: 0;
	right: -10px;
	padding: 10px 10px 5px;
	margin-top: 2px;
	background: #ececec;
	border: 1px solid #d6d6d6;
	border-radius: 0 8px 8px 8px;
}
	.b-geo-results__map-layer img {
		border: 1px solid #ccc;
	}

.b-geo-results__detailed-info {
	display: none;
	z-index: 10;
	position: absolute;
	width: 300px;
	height: auto;
	padding: 10px 10px 0;
	background: #ececec;
}
	.b-geo-results__detailed-info p {
		margin: 0 0 10px;
		font-size: 11px;
		line-height: 18px;
		color: #525252;
	}
	.b-geo-results__detailed-info .close {
		border-bottom: 1px dotted #525252;
		cursor: pointer;
	}

/*
----------------------------------------------------------------------------------------------------*/

.tiled-box-wrap {
       overflow: hidden;
       margin: 10px;
 }
 .tiled-box {
       float: left;
       position: relative;
       width: 180px;
	   height: 180px;
       margin: 2px 2px 2px 2px;
	   padding: 10px 10px 10px 10px;
	   background: #FDF9F0;
 } 
 .tiled-boxInner {
       position: absolute;
       left: 10px;
       right: 10px;
       top: 10px;
       bottom: 10px;
       overflow: hidden;
 }
  
 .tiled-boxInner  h2, h3{
       margin: 0px 0px 0px 0px;
 }
 
 
 .b-properties_form {
	z-index: 10;
	position: relative;
	padding: 20px 0px 0px 0px;
}
		
.b-properties_form .b-form__left_col {
	width: 200px;
	float: left;
	padding: 6px 0px 0px 0px;
}

.b-properties_form .b-form__right_col {
	width: 500px;
	float: left;
}

.b-properties_form .b-form__left_big_col {
	width: 550px;
	float: left;
	padding: 6px 0px 0px 0px;
}

.b-properties_form .b-form__right_little_col {
	width: 150px;
	float: left;
}

.b-properties_form .b-form__field .f-input-text {
	width: 550px;
	float: left;
	border-color: #a8b0b8;
}

.b-properties_form .b-form__field .f-input-text-mini .f-input-text{
	width: 70px;
	float: left;
	border-color: #a8b0b8;
}

.f-input-text-mini {
	display: inline-block;
	vertical-align: top;	
}

.form-inside-table-cell  {	
	white-space:nowrap;	
}

.form-inside-table-cell .f-input-text {
	width: 80px;	
	border-color: #a8b0b8;	
}

.b-properties_form .f-multi-text-inline {
	margin: 6px 0px 10px 0px;
}

.b-properties_form .f-radio-group {
	display: inline-block;
}
.b-properties_form .b-form__radio {
	display: inline-block;
	width: 150px;
	position: relative;
	padding: 0 0 0 20px;
	margin: 6px 0px 10px 0px;
	vertical-align: top;
}
.b-properties_form .b-form__radio .f-radio {
	position: absolute;
	top: 2px;
	left: 0;
}
.b-properties_form .b-form__label-radio {
	display: inline-block;
	height: 20px;
	width: auto;
	font-size: .929em;
	cursor: pointer;
}
	
	
.b-properties_form .checkbox {
	display: inline-block;
	width: 150px;
	vertical-align: top;	
	padding: 0 0 0 20px;
	margin: 6px 0px 10px 0px;
	min-height: 20px;
	position: relative;
}
		
.b-properties_form .checkbox .ui-custom-checkbox {
	/*float: left;	*/
	position: absolute;
    top: -3px;
    left: 0;
    width: 14px;
    height: 14px;
}

	
.b-properties_form .checkbox label {	
	position: relative;
	top: -1px;
	float: left;
	margin-left: 5px;
	font-size: .929em;
	color: #525252;
	font-family: sans-serif;	
	/*font: 14px/20px Arial,sans-serif;*/
	/*color: #576e85;*/
	cursor: pointer;
}
.b-properties_form .checkbox label strong {
	font-weight: 600;
	color: #000;
}

.red-text {
	/*font: 14px/20px Arial,sans-serif;*/
	font-weight: bold;
	color: #FF0000;	
}