@charset "utf-8";
/*
	styles for select
*/
.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
	background: url('../img/patterns/selects-2.png') no-repeat;
}
.cusel { /* общий вид селекта включая стрелку справа */
	height: 29px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	z-index: 1;
	outline: none;
	width: 100% !important;
}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 32px;
	background-position: right top;
}

.cuselText { /* контейнер для отображенного текста селект */
	height: 26px;
	padding: 8px 0 5px 7px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font: 14px Arial, sans-serif; /* шрифты */
	position: absolute;
	top: 0;
	left: 0;
}
* html .cuselText { /* высота блока для текста для ие6 */
	height: 22px;
}
.cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 6px 15px 6px 5px; /* паддинг справа - это отступ текста от ползунка */
	margin: 0 3px;
	zoom: 1;
	font: 14px Arial,sans-serif;
	color: #576e85;
	border-bottom: 1px solid #ccc;
}
.cusel span:hover {
	margin-top: -1px;
	background: #efefef;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #efefef;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #efefef;
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight {
	/*background-image: url('../img/patterns/selects-focus.png');*/
}

.cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	/*background-image: url('../img/patterns/selects-2-dis.png') !important;*/
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	min-width: 100%;
	width: auto;
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	background: #fff; /* фон выпадающего списка */
	border: 1px solid #999; /* границы выпадающего спиcка */
	border-radius: 3px;
}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 30px !important;
	background: #f1f1f1;
	position: absolute;
	top: 0;
	right: 0;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background: #ff850e;
	cursor: pointer;
	width: 10px !important;
	border-radius: 5px;
	/* height: 32px !important; */
	right: 10px;
	
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}