
.g-clear {
	clear: both;
}
.g-hr {
	margin: 20px 0;
	border-bottom: 1px solid #dbe0e5;
	clear: both;
}
.g-right {
	float: right;
}
.g-va-middle,
.g-va-middle > * {
	vertical-align: middle;
}
.g-noborder {
	border: 0 !important;
}

/* Headings
----------------------------------------------------------------------------------------------------*/
h1 {
	font-weight: normal;
	font-size: 40px;
	line-height: 1em;
	font-family: 'Georgia';
	color: #323232;
}

h2 {
	font-weight: normal;
	font-size: 2.143em;
	font-family: 'Georgia';
	color: #323232;
}

h3 {
	font-weight: normal;
	font-size: 1.5em;
	font-family: 'Georgia';
	color: #323232;
}

/* Menu
----------------------------------------------------------------------------------------------------*/
.b-menu {
	list-style: none;
}
	.b-menu__item {
		float: left;
	}


/* Form elements
----------------------------------------------------------------------------------------------------*/

.f-button {
	padding: 6px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	border-radius: 4px;
	font-size: 1em;
	color: #f9eacc;
}
	.f-button:active {
		padding: 7px 10px 5px;
	}
	

.f-clear {
	font-size: .85em;
	margin-left: 5px;
	cursor: pointer;
}


/* Wave line (-b - bottom wave line, -t - top wave line)
----------------------------------------------------------------------------------------------------*/
.g-b-wave-line {
	background: url('../img/patterns/wavy-line.png') repeat-x 0 bottom;
}
.g-t-wave-line {
	background: url('../img/patterns/wavy-line.png') repeat-x 0 top;
}

/* Form elements
----------------------------------------------------------------------------------------------------*/

/* Text field
----------------------------------------------------------------------------------------------------*/
.f-input-text {
	width: auto;
	height: 29px;

	padding: 4px 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);

	border: 1px solid #c0ac82;
	border-radius: 3px;
}
	.f-input-text[readonly] {
		background: #f7f9fa;
	}

.f-textarea {
	width: auto;

	padding: 4px 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);

	border: 1px solid #c0ac82;
	border-radius: 3px;
}

/* Radio buttons
----------------------------------------------------------------------------------------------------*/
.f-radio {
	position: relative;
	width: 14px;
	height: 14px;

	background: url('../img/elements/f-radio.png') no-repeat -14px 0;

	cursor: pointer;
}
	.f-radio input {
		position: absolute;
		top: 0;
		left: 0;
		width: 14px;
		height: 14px;
		opacity: 0;
		cursor: pointer;
	}
	.f-radio.state-active {
		background-position: 0 0;
	}

/* Selectbox
----------------------------------------------------------------------------------------------------*/
.f-select {
	position: relative;
}
	.f-select__current {
		width: auto;
		height: 29px;

		padding: 4px 30px 4px 7px;
		overflow: hidden;

		background: #fff url('../img/elements/f-select.png') no-repeat top right;
		border: 1px solid #323232;
		border-radius: 3px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		cursor: pointer;	
	}
	.f-select__items {
		display: none;
		position: absolute;
		width: 100%;
		overflow: hidden;
		padding: 0 1px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
	}
		.f-select__item {

		}
			.f-select__item span,
			.f-select__item a {
				display: block;
				width: 100%;
				height: 29px;
				padding: 5px 7px;
				background: #fff;
				border-bottom: 1px solid #dbe0e5;

				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				text-decoration: none;
				cursor: pointer;
			}
				.f-select__item span:hover,
				.f-select__item a:hover {
					background: #efefef;
				}
		.f-select__items .f-select__item:last-child {
			border-bottom: 0;
		}



.b-form-checkbox-row {
	position: relative;
}
	.b-form-checkbox-row__field {
		z-index: 6;
		position: absolute;
		top: 0;
	}
	.b-form-checkbox-row__label {
		z-index: 4;
		position: relative;
		top: 2px;
		padding-left: 20px;
		display: block;
		cursor: pointer;
	}
	.b-form-checkbox-row__image {
		position: absolute;
		top: 5px;
		right: 0;
	}



/* Icons
----------------------------------------------------------------------------------------------------*/
.g-icon-reply {
	padding-left: 20px;
	background: url('../img/icons/icon-reply.png') no-repeat 0 0;
}
.g-icon-delete {
	padding-left: 20px;
	background: url('../img/icons/icon-delete.png') no-repeat 0 0;
}




.color-box {
	width: 24px;
	height: 24px;
	border: 2px solid #fff;
	-webkit-box-shadow: 0 0 3px #000;
	-moz-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
	border-radius: 2px;
}
.colpick {
	z-index: 200;
}



/* Social icons
----------------------------------------------------------------------------------------------------*/
.b-social {
	clear: both;
}
	.b-social__item {
		float: left;
	}
		.b-social_profile .b-social__item {
			margin: 15px 12px 20px 0;
		}


.b-social_type_signin {
	width: auto;
	height: 32px;
	padding: 8px 8px 0;
	text-align: center;
}
	.b-social_type_signin .b-social__item {
		display: inline-block;
		width: 32px;
		height: 32px;
		margin: 0 5px;
		float: none;
	}


/* Icons
----------------------------------------------------------------------------------------------------*/
.icon-project {
	background: url('../img/icons/icon-project.png') no-repeat 0 0;
}
.icon-layer {
	background: url('../img/icons/icon-layer.png') no-repeat 0 0;
}
.icon-group {
	background: url('../img/icons/icon-group.png') no-repeat 0 0;
}
.icon-reader {
	background: url('../img/icons/icon-reader.png') no-repeat 0 0;
	color: #b89c63;
}
.icon-map {
	background: url('../img/icons/icon-map.png') no-repeat 0 0;
}
.icon-refuse {
	background: url('../img/icons/icon-refuse.png') no-repeat 0 0;
}
.icon-user {
	background: url('../img/icons/icon-user.png') no-repeat 0 0;
}

/* Tabs
----------------------------------------------------------------------------------------------------*/
.b-tabs { }
	.b-tabs__tabs { }
		.b-tabs__tab {
			float: left;
		}
	.b-tabs__items { }
		.b-tabs__item {
			display: none;
		}
		.b-tabs__item.state-active {
			display: block;
		}


/* Form
----------------------------------------------------------------------------------------------------*/
.b-form {}
	.b-form__col {
		width: 50%;
		float: left;
	}
	.b-form__row {
		min-height: 35px;
		margin-bottom: 15px;		
	}

/* List
----------------------------------------------------------------------------------------------------*/