.b-index-projects-wrapper {
	z-index: 30;
	position: relative;

	width: 100%;
	height: 310px;

	background: #f9eacc url('../img/patterns/header-bottom-border.png') repeat-x bottom left;
}



.b-index-projects {
    padding: 15px 0 15px 40px;
}
.b-index-projects-items__item {
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px;
    margin: 7px;
    display: block;
    width: 300px;
    float: left;
}
.clearfix {
    float: none;
    clear: both;
}

a.prev, a.next {
	background: url('../img/elements/jcarousel-arrows.png') no-repeat transparent;
	width: 31px;
	height: 31px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -22px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -31px; }
a.prev.disabled {	background-position: 0 -62px !important;  }
a.next {			right: -22px;
					background-position: -31px 0; }
a.next:hover {		background-position: -31px -31px; }
a.next.disabled {	background-position: -31px -62px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url('../img/elements/jcarousel-arrows.png') 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}