.b-page-map {
	overflow: hidden;
}
.b-page-map__header {
	padding: 0 25px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 55px;
}

/* Logotype
----------------------------------------------------------------------------------------------------*/
.b-page-map__logotype {
	padding: 12px 0;
	float: left;
}

/* Project selector
----------------------------------------------------------------------------------------------------*/
.b-projects-selector {
	width: 22%; /* 260px / 1200px */
	padding: 0 20px;
	float: left;
}
	.b-projects-selector .b-projects-selector__selectbox {
		width: 100%;
		font-size: 12px;
	}
	.b-projects-selector .b-projects-selector__selectbox .f-select__current {
		padding-top: 6px;
	}


/* Menu selector
----------------------------------------------------------------------------------------------------*/
.b-page-map__menu-selector {
	margin-top: 16px;
	float: left;

	cursor: pointer;
}
	.b-page-map__menu-selector .menu-selector .icon {
		display: inline-block;
		width: 23px;
		height: 23px;
		margin: 0 10px 0 0;
		float: left;
		background: url('../img/elements/expand-collapse-arow-red.png') no-repeat -23px 0;
	}
	.b-page-map__menu-selector .menu-selector.state-active .icon {
		background-position: 0 0;
	}
	.b-page-map__menu-selector .menu-selector .text {
		float: left;
		font-size: 12px;
		color: #95afc2;
		border-bottom: 1px dotted #95afc2;
	}
		.b-page-map__menu-selector:hover .text {
			color: #fff;
			border-bottom: 1px dotted #fff;
		}

/* User info
----------------------------------------------------------------------------------------------------*/
.b-page-map__header .b-user_header {
	margin-top: 16px;
	font-size: 12px;
}


/* User info
----------------------------------------------------------------------------------------------------*/
.b-page-map__menu {
	display: none;

	height: 44px;

	background: #387ba2;
	background: -moz-linear-gradient(top,  #387ba2 0%, #156085 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#387ba2), color-stop(100%,#156085));
	background: -webkit-linear-gradient(top,  #387ba2 0%,#156085 100%);
	background: -o-linear-gradient(top,  #387ba2 0%,#156085 100%);
	background: -ms-linear-gradient(top,  #387ba2 0%,#156085 100%);
	background: linear-gradient(to bottom,  #387ba2 0%,#156085 100%);
}
	.b-page-map__menu .b-menu__link {
		font-size: 12px;
	}

.b-page-map__menu .b-menu_main {
	margin: 9px 0 0 25px;
	float: left;
}

.b-page-map__menu .b-search {
	width: 30%;
	margin-top: 6px;
	float: left;
}
	.b-page-map__menu .b-search .f-input-search {
		width: 100%;
	}

.b-page-map__menu .b-menu_page_map {
	float: right;
}
	.b-page-map__menu .b-menu_page_map .b-menu__item.i-last {
		margin-right: 26px;
	}
	.b-page-map__menu .b-menu_page_map .b-menu__item.i-last:after {
		content: '';
	}

.b-page-map__map {
	position: relative;
	clear: both;
	overflow: hidden;
}
