
.b-overlay {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.25;
}

/* Popups
----------------------------------------------------------------------------------------------------*/
.b-popup {
	display: none;
	position: absolute;
	top: 200px;
	left: 50%;

	z-index: 101;
	width: 950px;

	background: #f9f9f9;
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #e9f2f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e9f2f5));
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e9f2f5 100%);
	background: -o-linear-gradient(top,  #f9f9f9 0%,#e9f2f5 100%);
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#e9f2f5 100%);
	background: linear-gradient(to bottom,  #f9f9f9 0%,#e9f2f5 100%);

	margin-left: -475px;

	border: 3px solid #418db9;
	border-radius: 8px;
}
	.b-popup__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15px;
		height: 14px;
		background: url('../img/elements/popup-close.png') no-repeat 0 0;
		cursor: pointer;
	}
	.b-popup__title {
		margin: 20px 20px 0;
		font: normal 25px 'Georgia';
		color: #323232;
	}
.b-popup__cols {
	margin: 20px;
	overflow: hidden;
}
	.b-popup__col {
		width: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
	}

.b-popup__cols .b-popup__col:first-child {
	padding-right: 20px;
}
.b-popup__cols .b-popup__col:last-child {
	padding-left: 20px;
}

	.b-popup__col .b-form-checkbox-row {
		margin-bottom: 15px;
	}
	.b-popup .b-form__item {
		margin-bottom: 15px;
	}

	.b-popup input.f-input-text,
	.b-popup select,
	.b-popup textarea {
		width: 100%;
	}
		.b-popup textarea {
			max-width: 100%;
			height: 55px;
		}
		.b-popup select {
			height: 29px;
		}
		.b-popup label {
			font-size: 13px;
		}
		.b-popup__cols.state-libraries .b-form-checkbox-row {
			padding: 20px 0;
			margin-bottom: 0;
			border-bottom: 1px solid #cddde5;
		}
		.b-popup__cols.state-libraries .b-form-checkbox-row .b-form-checkbox-row__field {
			top: 20px;
		}
		.b-popup__cols.state-libraries .b-form-checkbox-row .b-form-checkbox-row__image {
			width: 80px;
			height: 50px;
			text-align: center;
		}
			.b-popup__cols.state-libraries .b-form-checkbox-row .b-form-checkbox-row__image .g-va-middle {
				height: 50px;
				line-height: 50px;
			}
.b-popup .b-menu_mini-tabs {
	margin: 0 20px;
}
.b-popup__cols.state-layer {
	border-bottom: 1px solid #cfdee7;
	margin-bottom: 20px;
}
.b-popup__actions {
	padding: 0 0 5px;
}
	.b-popup__actions .f-button {
		padding: 8px 20px;
		font-size: 16px;
	}
	.b-popup__actions .b-menu_pagination {
		margin-top: 10px;
	}


/* Create style */
.b-popup_state_style .b-popup__title {
	text-align: left;
}
	.b-popup_state_style .f-button {
		width: 100%;
		margin-top: 10px;
	}
	.b-popup_state_style .f-input-text {
		border-color: #80a6bc;
	}

	.b-create-style {
		margin: 22px;
		padding: 25px 0 0;
		border: 1px solid #cbdce4;
		border-width: 1px 0 0;
	}
		.b-create-style__main {
			width: 315px;
			float: left;
		}
		.b-create-style__features {
			width: 580px;
			float: right;
		}
	.b-features__scale {
		width: 270px;
		float: right;
	}
		.b-features__scale-item {
			margin-bottom: 28px;
			overflow: hidden;
		}
			.b-features__scale-label {
				width: 160px;
				float: left;
				font-size: 13px;
				line-height: 15px;
				text-align: left;
				color: #323232;
			}
			.b-features__scale-field {
				width: 100px;
				float: right;
			}
				.b-features__scale-field > span {
					display: block;
					width: 18px;
					margin-top: 6px;
					float: left;
				}
				.b-features__scale-field .f-input-text {
					width: 80px !important;
					float: left;
				}
.b-features__elements {
	width: 280px;
	float: left;
}
	.b-features__elements-sl {
		width: 120px;
		margin-left: 15px;
		float: left;
	}
	.b-features__elements-s {
		width: 120px;
		margin-left: 15px;
		float: left;
	}
		.b-features__elements-sl .b-features__item,
		.b-features__elements-s .b-features__item {
			margin-bottom: 6px;
			height: 30px;
		}
			.b-features__elements-sl .b-features__item .b-features__item-label,
			.b-features__elements-s .b-features__item .b-features__item-label {
				width: 90px;
				margin-top: 6px;
				float: left;
				font-size: 13px;
				line-height: 14px;
				color: #323232;
				text-align: left;
			}
				.b-features__elements-sl .b-features__item.opacity .b-features__item-label,
				.b-features__elements-s .b-features__item.opacity .b-features__item-label {
					margin-top: 2px;
				}
				.b-features__elements-sl .b-features__item .b-features__item-label small,
				.b-features__elements-s .b-features__item .b-features__item-label small {
					font-size: 11px;
				}
			.b-features__elements-sl .b-features__item .b-features__item-field,
			.b-features__elements-s .b-features__item .b-features__item-field {
				width: 30px;
				float: left;
			}
				.b-features__elements-sl .b-features__item .b-features__item-field > input,
				.b-features__elements-s .b-features__item .b-features__item-field > input {
					font-size: 13px;
					text-align: right;
				}
				.b-features__elements-sl .b-features__item.chkb {
					height: 30px;
					text-align: left;
					font-size: 13px;
				}
					.b-features__elements-sl .b-features__item.chkb input {
						margin-top: -2px;
					}

.b-features__elements-dot {
	margin-left: 15px;
}
.b-features__elements-dot .f-button {
	width: 95px;
	float: left;
}
.b-features__icon-size {
	width: 120px;
	margin-top: 20px;
	text-align: left;
	float: left;
}
	.b-features__icon-sf {
		width: 44px;
		height: 44px;
		float: left;
	}
		.b-features__icon-sf > input.f-input-text {
			width: 29px;
			height: 29px;
			font-size: 13px;
		}
.b-features__item-icon-color {
	width: 120px;
	float: left;
}
	.b-features__item-icon-color label {
		display: block;
		margin-bottom: 5px;
		text-align: left;
	}
.js-style-3 {
	display: none;
}

.b-create-style__bottom {
	position: relative;
	height: 130px;
	margin-top: 30px;
	border: 1px solid #cbdce4;
	border-width: 1px 0 0 0;
}
	.b-create-style__bottom .b-create-style__actions {
		position: absolute;
		bottom: 0;
		right: 0;
	}
		.b-create-style__bottom .b-create-style__actions .f-button {
			padding: 8px 15px;
		}