<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html >
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
> <!--<![endif]-->
<h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Template</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="Content/css/normalize.css"/>

    <!-- Styles section -->
    <link rel="stylesheet" href="Content/css/reset.css"/>
    <link rel="stylesheet" href="Content/css/global.css"/>
    <link rel="stylesheet" href="Content/css/common.css"/>
    <link rel="stylesheet" href="Content/css/colors.css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>
    <script>window.jQuery || document.write('&lt;script src="js/vendor/jquery-1.10.2.min.js">&lt;\/script>')</script>
    <script src="Content/js/vendor/jcarousel.min.js"/>
    <script src="Content/js/plugins.js"/>
    <script src="Content/js/main.js"/>
    <script src="Content/js/vendor/modernizr-2.6.2.min.js"/>


</h:head>
<h:body class="i-default">

    <div class="l-page-wrapper">
        <div class="l-page">

            <!-- Header -->
            <div class="b-header">

                <!-- Header logo -->
                <div class="b-logo b-logo_header">
                    <a href="/">
                        <img src="Content/img/elements/logo-big.png" alt=""/>
                    </a>
                </div>
                <!-- / Header logo -->


            </div>
            <!-- / Header -->

            <!-- Main navigation -->
            <div class="b-navigation">

                <!-- Main menu -->
                <ul class="b-menu b-menu_main">
                    <li class="b-menu__item">
                        <p class="b-menu__link">1. геоданные</p>
                    </li>
                    <li class="b-menu__item">
                        <p class="b-menu__link">2. социальный статус</p>
                    </li>
                    <li class="b-menu__item state-active">
                        <p class="b-menu__link">3. места</p>
                    </li>
                    <li class="b-menu__item">
                        <p class="b-menu__link">4. маршруты</p>
                    </li>
                    <li class="b-menu__item">
                        <p class="b-menu__link">5. анкета</p>
                    </li>
                    <li class="b-menu__item i-last">
                        <p class="b-menu__link">выводы и советы</p>
                    </li>
                </ul>
                <!-- / Main menu -->

            </div>
            <!-- / Main navigation -->


            <!-- Page heading -->
            <div class="b-page-heading">
                <h1>Спасибо, тест закончен</h1>
            </div>
            <!-- / Page heading -->


            <!-- Content -->
            <div class="b-content">

                <div class="l-cols">
                    <div class="l-col-content">

                    </div>

                </div>

            </div>
            <!-- / Content -->

            <h:outputScript>
                <c:if test="#{geo.places == null and geo.clusters!=null}">
                    <c:forEach items="#{geo.clusters}" var="place" varStatus="i">
                        points.push({
                        "id": #{i.index+1},
                        "name": "Непонятное место #{i.index+1}",
                        "x1": #{place.lat},
                        "y1": #{place.lng},
                        "x2": #{place.lat+0.001},
                        "y2": #{place.lng+0.001},
                        "weight": #{place.weight}
                        });

                    </c:forEach>
                </c:if>
                <c:if test="#{geo.places != null}">
                    <c:forEach items="#{geo.places}" var="place">
                        points.push({
                        "name": "#{place.name}",
                        "x1": #{place.lat},
                        "y1": #{place.lng},
                        "x2": #{place.lat2},
                        "y2": #{place.lng2},
                        "weight": #{place.weight},
                        "type": "#{place.typeStr}"
                        <c:if test="#{!''.equals(place.likeStr)}">,
                            "likeThisPlace": "#{place.likeStr}"
                        </c:if>
                        <c:if test="#{!''.equals(place.timeStr)}">,
                            "usualTime": "#{place.timeStr}"
                        </c:if>
                        });

                    </c:forEach>
                </c:if>
            </h:outputScript>

            <script>
                updatePointsList();
            </script>


        </div>
    </div>

    <!-- Footer -->
    <div class="b-footer-wrapper">
        <div class="b-footer">
            <div class="b-footer__content">
                <div class="b-footer__copy">
                    &#169; Разработчики, 2016
                </div>
                <div class="b-footer__social">
                    Проект в сетях
                    <a href="#"><img src="Content/img/icons/icon-social-twitter.png" alt=""/></a>
                    <a href="#"><img src="Content/img/icons/icon-social-facebook.png" alt=""/></a>
                </div>
                <div class="b-footer__links">
                    <a href="#">О проекте</a>
                    <a href="#">Справка</a>
                    <a href="#">Обратная связь</a>
                </div>
            </div>
        </div>
    </div>
    <!-- / Footer -->


</h:body>
</html>
