<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--[if lt IE 7]>	  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
> <!--<![endif]-->
<h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Template</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="Content/css/normalize.css"/>

    <!-- Styles section -->
    <link rel="stylesheet" href="Content/css/reset.css"/>
    <link rel="stylesheet" href="Content/css/global.css"/>
    <link rel="stylesheet" href="Content/css/common.css"/>
    <link rel="stylesheet" href="Content/css/colors.css"/>

    <script src="Content/js/vendor/modernizr-2.6.2.min.js"/>
</h:head>
<h:body class="i-default">

    <div class="l-page-wrapper">
        <div class="l-page">

            <!-- Header -->
            <div class="b-header">

                <!-- Header logo -->
                <div class="b-logo b-logo_header">
                    <a href="/">
                        <img src="Content/img/elements/logo-big.png" alt=""/>
                    </a>
                </div>
                <!-- / Header logo -->


            </div>
            <!-- / Header -->

            <!-- Main navigation -->
            <div class="b-navigation">

                <!-- Main menu -->
                <ul class="b-menu b-menu_main">
                    <li class="b-menu__item">
                        <p class="b-menu__link">1. геоданные</p>
                    </li>
                    <li class="b-menu__item">
                        <p class="b-menu__link">2. социальный статус</p>
                    </li>
                    <li class="b-menu__item">
                        <p class="b-menu__link">3. места</p>
                    </li>
                    <li class="b-menu__item">
                        <p class="b-menu__link">4. маршруты</p>
                    </li>
                    <li class="b-menu__item state-active">
                        <p class="b-menu__link">5. анкета</p>
                    </li>
                    <li class="b-menu__item i-last">
                        <p class="b-menu__link">выводы и советы</p>
                    </li>
                </ul>
                <!-- / Main menu -->

            </div>
            <!-- / Main navigation -->


            <!-- Page heading -->
            <div class="b-page-heading">
                <h1>5 шаг - Психологические тесты</h1>
            </div>
            <!-- / Page heading -->

            <!-- Content -->
            <div class="b-content">

                <div class="l-cols">
                    <div class="l-col-content" style="padding: 0 150px 0 0;">

                        <br/>
                        <br/>

                        <!--<h1>Качество жизни</h1>-->
                        <!--<div id="anketolog-frame-169969"></div>-->
                        <!--<script type="text/javascript">-->
                        <!--(function (d) {-->
                        <!--var u = 'https://anketolog.ru/api/v2/frame/js/169969?token=tcTPm3cD&amp;ap_testUserID=#{geo.sessionId}';-->
                        <!--var s = d.createElement('script');-->
                        <!--s.type = 'text/javascript';-->
                        <!--s.async = true;-->
                        <!--s.src = u;-->
                        <!--d.body.appendChild(s);-->
                        <!--})(document);-->
                        <!--</script>-->

                        <!--<br/>-->
                        <!--<br/>-->

                        <h1>Тест социальной идентичности М. Куна и Т. Маркпатленда</h1>
                        <div id="anketolog-frame-167437"></div>
                        <script type="text/javascript">
                            (function (d) {
                                var u = 'https://anketolog.ru/api/v2/frame/js/167437?token=eaUHfnif&amp;ap_testUserID=#{geo.sessionId}';
                                var s = d.createElement('script');
                                s.type = 'text/javascript';
                                s.async = true;
                                s.src = u;
                                d.body.appendChild(s);
                            })(document);
                        </script>

                        <div class="b-form b-properties_form">
                            <div class="b-form__row">
                                <div class="b-geo__begin">
                                    <h:form>
                                        <h:commandButton value="Следующий шаг" class="f-button"
                                                         action="end"
                                        />
                                    </h:form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- / Content -->

        </div>
    </div>

    <!-- Footer -->
    <div class="b-footer-wrapper">
        <div class="b-footer">
            <div class="b-footer__content">
                <div class="b-footer__copy">
                    #x24B8; Разработчики, 2016
                </div>
                <div class="b-footer__social">
                    Проект в сетях
                    <a href="#"><img src="Content/img/icons/icon-social-twitter.png" alt=""/></a>
                    <a href="#"><img src="Content/img/icons/icon-social-facebook.png" alt=""/></a>
                </div>
                <div class="b-footer__links">
                    <a href="#">О проекте</a>
                    <a href="#">Справка</a>
                    <a href="#">Обратная связь</a>
                </div>
            </div>
        </div>
    </div>
    <!-- / Footer -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>
    <script>window.jQuery || document.write('&lt;script src="js/vendor/jquery-1.10.2.min.js">&lt;\/script>')</script>
    <script src="Content/js/vendor/jcarousel.min.js"/>
    <script src="Content/js/plugins.js"/>
    <script src="Content/js/main.js"/>
</h:body>
</html>
