<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--[if lt IE 7]>	  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<!--<![endif]-->
<h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Template</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="Content/css/normalize.css"/>

    <!-- Styles section -->
    <link rel="stylesheet" href="Content/css/reset.css"/>
    <link rel="stylesheet" href="Content/css/global.css"/>
    <link rel="stylesheet" href="Content/css/common.css"/>
    <link rel="stylesheet" href="Content/css/colors.css"/>

    <script src="Content/js/vendor/modernizr-2.6.2.min.js"/>
</h:head>
<h:body class="i-default">


    <div class="l-page-wrapper">
        <div class="l-page">

            <!-- Header -->
            <div class="b-header">

                <!-- Header logo -->
                <div class="b-logo b-logo_header">
                    <a href="/">
                        <img src="Content/img/elements/logo-big.png" alt=""/>
                    </a>
                </div>
                <!-- / Header logo -->


            </div>
            <!-- / Header -->

            <!-- Main navigation -->
            <div class="b-navigation">

                <!-- Main menu -->
                <ul class="b-menu b-menu_main">
                    <li class="b-menu__item">
                        <p class="b-menu__link">1. геоданные</p>
                    </li>
                    <li class="b-menu__item state-active">
                        <p class="b-menu__link">2. социальный статус</p>
                    </li>
                    <li class="b-menu__item">
                        <p class="b-menu__link">3. места</p>
                    </li>
                    <li class="b-menu__item i-last">
                        <p class="b-menu__link">4. маршруты</p>
                    </li>
                    <li class="b-menu__item i-last">
                        <p class="b-menu__link">5. анкета</p>
                    </li>
                    <li class="b-menu__item i-last">
                        <p class="b-menu__link">выводы и советы</p>
                    </li>
                </ul>
                <!-- / Main menu -->

            </div>
            <!-- / Main navigation -->


            <!-- Page heading -->
            <div class="b-page-heading">
                <h1>2 шаг - Анкета социального статуса</h1>
            </div>
            <!-- / Page heading -->

            <h:form id="mainForm">
                <!-- Content -->
                <div class="b-content">

                    <div class="l-cols">
                        <div class="l-col-content">


                            <div class="b-form b-properties_form">

                                <div class="b-form__row">
                                    <div class="b-form__left_col">В каком городе живете?</div>
                                    <div class="b-form__right_col">
                                        <div class="b-form__field">
                                            <h:inputText name="city" id="city" class="f-input-text"
                                                         value="#{vk.personalData.city}"
                                                         placeholder="Самара"/>
                                        </div>
                                    </div>


                                    <c:if test="#{vk.personalData.cityFromVK}">
                                        <!-- должен идти внутри b-form__row, после b-form__right_col -->
                                        <div style="position: relative;">
                                            <div style="position: absolute; top: 5px; left:770px; width: 250px;">
                                                <font color="#22AA22">&#8592; заполнено по данным ВКонтакте</font>
                                            </div>
                                        </div>
                                    </c:if>

                                </div>

                                <div class="g-clear"/>

                                <h:inputHidden value="#{vk.personalData.sex}" id="sexHdn"/>

                                <div class="b-form__row">
                                    <div class="b-form__left_col">Ваш пол?</div>
                                    <div class="b-form__right_col">
                                        <div class="b-form__field f-radio-group">
                                            <!--<h:selectOneRadio id="radio_1_1" class="b-form__field f-radio-group b-form__radio">-->
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <!--<f:selectItem class="b-form__radio f-radio" itemLabel="мужской" itemValue="0"/>-->
                                                    <input type="radio" name="sex" value="2" id="radio_1_1"/>
                                                </div>
                                                <label for="radio_1_1" class="b-form__label-radio">мужской</label>
                                                <!--<h:outputLabel for="radio_1_1"-->
                                                <!--class="b-form__label-radio">мужской</h:outputLabel>-->
                                            </div>

                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="sex" value="1" id="radio_1_2"/>
                                                    <!--<f:selectItem class="f-radio" itemLabel="женский" itemValue="1"/>-->
                                                </div>
                                                <label for="radio_1_2" class="b-form__label-radio">женский</label>
                                                <!--<h:outputLabel for="radio_1_2"-->
                                                <!--class="b-form__label-radio">женский</h:outputLabel>-->
                                            </div>
                                            <!--</h:selectOneRadio>-->
                                        </div>

                                    </div>

                                    <c:if test="#{vk.personalData.sexFromVK}">
                                        <!-- должен идти внутри b-form__row, после b-form__right_col -->
                                        <div style="position: relative;">
                                            <div style="position: absolute; top: 5px; left:770px; width: 250px;">
                                                <font color="#22AA22">&#8592; заполнено по данным ВКонтакте</font>
                                            </div>
                                        </div>
                                    </c:if>
                                </div>

                                <div class="g-clear"/>


                                <div class="b-form__row">
                                    <div class="b-form__left_col">Ваш возраст?</div>
                                    <div class="b-form__right_col">
                                        <div class="b-form__field">
                                            <h:inputText name="age" id="age" class="f-input-text"
                                                         value="#{vk.personalData.age}"
                                                         placeholder="25">
                                                <f:validator validatorId="ageValidator"/>
                                                <f:converter converterId="AgeConverter"/>
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div style="position: relative;">
                                        <div style="position: absolute; top: 5px; left:770px; width: 250px;">
                                            <h:message for="age" style="color:red"/>
                                        </div>
                                    </div>

                                    <c:if test="#{vk.personalData.ageFromVK}">
                                        <!-- должен идти внутри b-form__row, после b-form__right_col -->
                                        <div style="position: relative;">
                                            <div style="position: absolute; top: 5px; left:770px; width: 250px;">
                                                <font color="#22AA22">&#8592; заполнено по данным ВКонтакте</font>
                                            </div>
                                        </div>
                                    </c:if>
                                </div>

                                <h:inputHidden value="#{vk.personalData.occupation}" id="occupationHdn"/>

                                <div class="b-form__row">
                                    <div class="b-form__left_col">Чем вы занимаетесь?</div>
                                    <div class="b-form__right_col">
                                        <div class="b-form__field f-radio-group">
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="occupation" value="1"
                                                           id="radio_2_1"/>
                                                </div>
                                                <label for="radio_2_1" class="b-form__label-radio">учусь</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="occupation" value="2"
                                                           id="radio_2_2"/>
                                                </div>
                                                <label for="radio_2_2"
                                                       class="b-form__label-radio">работаю по найму</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="occupation" value="3"
                                                           id="radio_2_3"/>
                                                </div>
                                                <label for="radio_2_3"
                                                       class="b-form__label-radio">предприниматель</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="occupation" value="4" id="radio_2_4"/>
                                                </div>
                                                <label for="radio_2_4" class="b-form__label-radio">пенсионер</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="occupation" value="5"
                                                           id="radio_2_5"/>
                                                </div>
                                                <label for="radio_2_5" class="b-form__label-radio">домохозяйка</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="occupation" value="6"
                                                           id="radio_2_6"/>
                                                </div>
                                                <label for="radio_2_6" class="b-form__label-radio">безработный</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="occupation" value="7" id="radio_2_7"/>
                                                </div>
                                                <label for="radio_2_7" class="b-form__label-radio">фрилансер</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="occupation" value="8"
                                                           id="radio_2_8"/>
                                                </div>
                                                <label for="radio_2_8"
                                                       class="b-form__label-radio">в декретном отпуске</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="occupation" value="9" id="radio_2_9"/>
                                                </div>
                                                <h:inputText name="occupation_another" id="occupation_another"
                                                             class="f-input-text" style="width: 100px;"
                                                             value="#{vk.personalData.activityOther}"
                                                             placeholder="другое"
                                                             onclick="$('dio_2_9').click();"
                                                             onchange="$('#radio_2_9').trigger('click');"
                                                />

                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <h:inputHidden value="#{vk.personalData.edu}" id="educationHdn"/>

                                <div class="g-clear"/>

                                <div class="b-form__row">
                                    <div class="b-form__left_col">Какое у вас образование?</div>
                                    <div class="b-form__right_col">
                                        <div class="b-form__field f-radio-group">
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="education" value="1"
                                                           id="radio_3_1"/>
                                                </div>
                                                <label for="radio_3_1" class="b-form__label-radio">средняя школа</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="education" value="2" id="radio_3_2"/>
                                                </div>
                                                <label for="radio_3_2" class="b-form__label-radio">техникум</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="education" value="3"
                                                           id="radio_3_3"/>
                                                </div>
                                                <label for="radio_3_3"
                                                       class="b-form__label-radio">незаконченное высшее</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="education" value="4" id="radio_3_4"/>
                                                </div>
                                                <label for="radio_3_4" class="b-form__label-radio">высшее</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="education"
                                                           value="5" id="radio_3_5"/>
                                                </div>
                                                <label for="radio_3_5"
                                                       class="b-form__label-radio">ученая степень или несколько высших</label>
                                            </div>
                                        </div>
                                    </div>

                                    <c:if test="#{vk.personalData.sexFromVK}">
                                        <!-- должен идти внутри b-form__row, после b-form__right_col -->
                                        <div style="position: relative;">
                                            <div style="position: absolute; top: 5px; left:770px; width: 250px;">
                                                <font color="#22AA22">&#8592; заполнено по данным ВКонтакте</font>
                                            </div>
                                        </div>
                                    </c:if>
                                </div>

                                <h:inputHidden value="#{vk.personalData.familyStatus}" id="family_statusHdn"/>

                                <div class="g-clear"/>

                                <div class="b-form__row">
                                    <div class="b-form__left_col">Ваше семейное положение?</div>
                                    <div class="b-form__right_col">
                                        <div class="b-form__field f-radio-group">
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="family_status" value="1"
                                                           id="radio_4_1"/>
                                                </div>
                                                <label for="radio_4_1" class="b-form__label-radio">не женат</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="family_status" value="4" id="radio_4_2"/>
                                                </div>
                                                <label for="radio_4_2" class="b-form__label-radio">женат</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="family_status" value="30"
                                                           id="radio_4_3"/>
                                                </div>
                                                <label for="radio_4_3" class="b-form__label-radio">разведен</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="family_status" value="40" id="radio_4_4"/>
                                                </div>
                                                <label for="radio_4_4" class="b-form__label-radio">вдов</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="family_status" value="8"
                                                           id="radio_4_5"/>
                                                </div>
                                                <label for="radio_4_5"
                                                       class="b-form__label-radio">в гражданском браке</label>
                                            </div>
                                        </div>
                                    </div>

                                    <c:if test="#{vk.personalData.sexFromVK}">
                                        <!-- должен идти внутри b-form__row, после b-form__right_col -->
                                        <div style="position: relative;">
                                            <div style="position: absolute; top: 5px; left:770px; width: 250px;">
                                                <font color="#22AA22">&#8592; заполнено по данным ВКонтакте</font>
                                            </div>
                                        </div>
                                    </c:if>
                                </div>

                                <div class="b-form__row">
                                    <div class="b-form__left_col">Сколько у вас детей?</div>
                                    <div class="b-form__right_col">
                                        <div class="b-form__field">
                                            <h:inputText name="childs" id="childs" class="f-input-text"
                                                         value="#{vk.personalData.childrenCount}"
                                                         placeholder="2" style="width: 100px;"/>

                                        </div>
                                    </div>
                                </div>

                                <div class="g-clear"/>

                                <div class="b-form__row">
                                    <div class="b-form__left_col">Возраст ваших детей?</div>
                                    <div class="b-form__right_col">
                                        <div class="b-form__field">
                                            <h:inputText name="childs_age" id="childs_age" class="f-input-text"
                                                         value="#{vk.personalData.childrenAges}"
                                                         placeholder="3, 10" style="width: 100px;">
                                                <f:validator validatorId="childrenAgesValidator"/>
                                                <f:converter converterId="ChildrenAgesConverter"/>
                                            </h:inputText>
                                        </div>
                                    </div>


                                    <!-- должен идти внутри b-form__row, после b-form__right_col -->
                                    <div style="position: relative;">
                                        <div style="position: absolute; top: 5px; left:350px;">
                                            &#8592; числа через запятую<br/>
                                            <h:message for="childs_age" style="color:red"/>
                                        </div>
                                    </div>
                                </div>

                                <h:inputHidden value="#{vk.personalData.living}" id="livingHdn"/>

                                <div class="b-form__row">
                                    <div class="b-form__left_col">В каких условиях проживаете?</div>
                                    <div class="b-form__right_col">
                                        <div class="b-form__field f-radio-group">
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="living" value="1"
                                                           id="radio_5_1"/>
                                                </div>
                                                <label for="radio_5_1"
                                                       class="b-form__label-radio">в собственной квартире</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="living" value="2"
                                                           id="radio_5_2"/>
                                                </div>
                                                <label for="radio_5_2"
                                                       class="b-form__label-radio">в коммунальной квартире</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="living" value="3"
                                                           id="radio_5_3"/>
                                                </div>
                                                <label for="radio_5_3"
                                                       class="b-form__label-radio">в съемной квартире</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="living" value="4" id="radio_5_4"/>
                                                </div>
                                                <label for="radio_5_4" class="b-form__label-radio">в общежитии</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="living" value="5"
                                                           id="radio_5_5"/>
                                                </div>
                                                <label for="radio_5_5"
                                                       class="b-form__label-radio">в собственном доме</label>
                                            </div>
                                            <div class="b-form__radio">
                                                <div class="f-radio">
                                                    <input type="radio" name="living" value="6" id="radio_5_6"/>
                                                </div>
                                                <h:inputText name="living_another" id="living_another"
                                                             class="f-input-text" style="width: 100px;"
                                                             value="#{vk.personalData.houseOther}" placeholder="другое"
                                                             onclick="$('#radio_5_6').trigger('click');"/>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h:inputHidden value="#{vk.personalData.appsMask}" id="appsHdn"/>

                                <div class="b-form__row">
                                    <div class="b-form__left_col">Какими мобильными приложениями вы пользуетесь регулярно?</div>
                                    <div class="b-form__right_col">
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="1" id="apps_1"/>
											</span>
                                            <label for="apps_1">Прибывалка</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="2" id="apps_2"/>
											</span>
                                            <label for="apps_2">Яндекс.Карты, Яндекс. Навигатор</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="4" id="apps_3"/>
											</span>
                                            <label for="apps_3">Google Maps</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="8" id="apps_4"/>
											</span>
                                            <label for="apps_4">Instagram</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="16" id="apps_5"/>
											</span>
                                            <label for="apps_5">Вконтакте</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="32" id="apps_6"/>
											</span>
                                            <label for="apps_6">Facebook</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="64" id="apps_7"/>
											</span>
                                            <label for="apps_7">UBER</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="128" id="apps_8"/>
											</span>
                                            <label for="apps_8">eBay</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="256" id="apps_9"/>
											</span>
                                            <label for="apps_9">Amazon</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="512" id="apps_10"/>
											</span>
                                            <label for="apps_10">Foursquare</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="1024" id="apps_11"/>
											</span>
                                            <label for="apps_11">ДубльГИС</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="2048" id="apps_12"/>
											</span>
                                            <label for="apps_12">Endomondo</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="4096" id="apps_13"/>
											</span>
                                            <label for="apps_13">Самара.Приемная</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="8192" id="apps_14"/>
											</span>
                                            <label for="apps_14">Шагомер</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="16384" id="apps_15"/>
											</span>
                                            <label for="apps_15">Стрелка</label>
                                        </div>
                                        <div class="checkbox">
											<span class="ui-custom-checkbox">
												<input type="checkbox" name="apps" value="32768" id="apps_16"/>
											</span>
                                            <label for="apps_16">Gismeteo</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="g-clear"/>
                                <div class="g-clear"/>
                            </div>

                            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>
                            <script>window.jQuery || document.write('&lt;script src="js/vendor/jquery-1.10.2.min.js">&lt;\/script>')</script>
                            <script src="Content/js/vendor/jcarousel.min.js"/>
                            <script src="Content/js/plugins.js"/>
                            <script src="Content/js/main.js"/>

                            <script src="Content/js/questionnaire.js"/>


                            <div class="b-form b-properties_form">
                                <div class="b-form__row">
                                    <div class="b-geo__begin">
                                        <h:commandButton value="Следующий шаг" class="f-button"
                                                         onclick="appsCheckboxesStateToProp('appsHdn',mainFormName);
propsToBean();" action="#{vk.savePersonalDataToDb()}">
                                        </h:commandButton>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </h:form>
            <!-- / Content -->

        </div>
    </div>

    <!-- Footer -->
    <div class="b-footer-wrapper">
        <div class="b-footer">
            <div class="b-footer__content">
                <div class="b-footer__copy">
                    &#169; Разработчики, 2016
                </div>
                <div class="b-footer__social">
                    Проект в сетях
                    <a href="#"><img src="Content/img/icons/icon-social-twitter.png" alt=""/></a>
                    <a href="#"><img src="Content/img/icons/icon-social-facebook.png" alt=""/></a>
                </div>
                <div class="b-footer__links">
                    <a href="#">О проекте</a>
                    <a href="#">Справка</a>
                    <a href="#">Обратная связь</a>
                </div>
            </div>
        </div>
    </div>
    <!-- / Footer -->


</h:body>
</html>
